<div class="bg-white shadow-sm md:p-20">
  <div class="flex flex-wrap items-center -mx-20">
    <div class="px-20 w-full md:w-5/12">
      {% set image = TimberImage(featured_content.image) %}

      {% if image.src %}
        <img src="{{ image.src | resize(1080, 675, 'center') }}" alt="{{ image.alt }}" />
      {% endif %}
    </div>

    <div class="px-20 w-full md:w-7/12">
      <div class="p-20 md:p-0">
        {% if featured_content.heading %}
          <h3 class="heading-4 mb-20">
            {{ featured_content.heading }}
          </h3>
        {% endif %}

        {% if featured_content.text %}
          <div class="text">
            {{ featured_content.text }}
          </div>
        {% endif %}

        {% if featured_content.button_link and featured_content.button_text %}
          <a class="arrow mt-20" href="{{ featured_content.button_link }}">
            {{ featured_content.button_text }}
            {{ svg('arrow-right') }}
          </a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
