{% set block = block ?? null %}

{% if block %}
  <section class="py-50" data-label="hero-single-article">
    <div class="-mb-50">
      <div class="container mb-50">
        <div class="heading-6 mb-10">
          Insights
        </div>

        <h1 class="heading-2 mb-15">
          {{ post.title }}
        </h1>

        <div class="flex flex-wrap mb-5 -mx-10 text-gray-dark text-11">
          <div class="border-r border-gray-dark leading-none mb-10 px-10">
            {{ post.post_type | title }}
          </div>

          <div class="leading-none mb-10 px-10">
            {{ post.post_date | date('F Y') }}
          </div>
        </div>
      </div>

      {% set image = TimberImage(block.image) %}

      {% if image.src %}
        <div class="container-lg mb-50">
          <img src="{{ image.src | resize(1920, 800, 'center') }}" alt="{{ image.alt }}" />
        </div>
      {% endif %}
    </div>
  </section>
{% endif %}
