<header
  class="{{ front_page ? 'bg-blue text-white ' : 'bg-white ' }}relative py-10 top-0 transition w-full z-30 lg:py-20 lg:sticky"
  data-module="header"
  data-label="header"
>
  <div class="container-lg">
    <div class="flex justify-between items-center -mx-20">
      <div class="flex-0 px-20">
        <a href="/">
          {{ svg('logo', { classes: 'logo' }) }}
        </a>
      </div>

      {% if menu.primary.items | length %}
        {% set uid = random() %}

        <nav
          id="{{ uid }}"
          class="absolute flex-1 left-0 px-20 top-full w-screen z-40 lg:static"
          role="navigation"
          aria-hidden="true"
          data-header-menu
        >
          {% include '_partials/header/menu.twig' ignore missing with {
            uid: uid,
            items: menu.primary.items,
          } %}
        </nav>
      {% endif %}

      <div class="hidden flex-0 px-20 lg:block">
        <a class="{{ front_page ? ' button-outline-blue ' }}button-small" href="/get-started/">
          Contact Us
        </a>
      </div>

      <div class="px-20 lg:hidden">
        <button
          class="h-44 relative -mr-10 w-44"
          data-header-trigger
          data-module="toggle"
          aria-controls="{{ uid }}"
        >
          <span class="sr-only">
            Toggle Menu
          </span>
          {{ svg('menu', { classes: 'absolute inset-1/2 translate-1/2' }) }}
          {{ svg('menu-close', { classes: 'absolute inset-1/2 translate-1/2' }) }}
        </button>

        <div class="{{ front_page ? 'bg-blue ' : 'bg-white ' }}fixed hidden inset-0 z-1"></div>
      </div>
    </div>
  </div>
</header>
