<header
  class="header {{ front_page ? 'bg-blue text-white ' : 'bg-white ' }}relative -mb-1 py-10 top-0 z-40 lg:py-30 lg:sticky"
  data-module="header"
  data-label="header"
>
  <div class="flex justify-between items-center">
    <div class="flex-0 px-20">
      <a href="/">
        {{ svg('logo', { classes: 'logo' }) }}
      </a>
    </div>

    {% if menu.primary.items | length %}
      {% set uid = random() %}

      <nav
        id="{{ uid }}"
        class="menu absolute flex-1 left-0 px-20 top-full w-screen z-50 lg:static"
        role="navigation"
        aria-hidden="true"
      >
        {% include '_partials/header/menu.twig' ignore missing with {
          uid: uid,
          items: menu.primary.items,
        } %}
      </nav>
    {% endif %}

    <div class="hidden flex-0 px-20 lg:block">
      <a class="{{ front_page ? ' button-outline-blue ' }}button-small" href="/contact">
        Contact us
      </a>
    </div>
    <div class="px-20 lg:hidden">
      <button
        class="h-44 relative -mr-10 w-44"
        data-module="toggle"
        aria-controls="{{ uid }}"
      >
        <span class="screen-reader-only">
          Menu
        </span>
        {{ svg('hamburger', { classes: 'absolute inset-1/2 translate-1/2' }) }}
      </button>
    </div>
  </div>
</header>
