{% set uid = uid ?? random() %}
{% set items = items ?? [] %}
{% set level = items[0].level %}

{% if menu and items | length %}
  {% if level == 1 %}
    <div
      id="{{ uid }}"
      class="{{ front_page ? 'bg-blue border-blue-denim ' : 'bg-white border-gray ' }}header-submenu absolute border-t min-h-full left-0 -mt-1 px-20 top-0 transition-fast w-screen lg:min-h-0 lg:mx-0 lg:px-0 lg:shadow-xs lg:top-full"
      aria-hidden="true"
    >
      <div class="container">
        <ul class="flex flex-wrap -mb-30 -mx-15 py-30 lg:flex-no-wrap">
          <li
            class="lg:hidden"
            data-toggle-partner="{{ uid }}0"
            aria-controls="{{ uid }}"
          >
            <button class="flex font-bold items-center mb-30 text-11 uppercase text-blue-denim tracking-wide">
              {{ svg('arrow-left', { classes: 'mr-10 -mt-1 text-blue-light' } ) }}
              Back
            </button>
          </li>

          {% for item in items %}
            {% set level1ItemTitle = item.title %}

            <li class="{{ item.classes | join(' ') | trim }} {{ not loop.last ? 'border-b border-gray ' }}flex-1 leading-normal mb-20 pb-20 pl-30 px-15 relative w-full lg:border-b-0 lg:mb-0 lg:pb-30 lg:w-auto">
              {% set image = TimberImage(item.image) %}

              {% if image.file_loc %}
                <span class="absolute left-0 mt-5 text-blue-light top-0">
                  {{ fn('file_get_contents', image.file_loc)}}
                </span>
              {% endif %}

              <a
                class="inline-block transition-fast whitespace-no-wrap hover:underline"
                href="{{ item.link }}"
                data-track-gtm="Top Navigation|{{ level0ItemTitle }}|{{ item.title }}"
              >
                {{ item.title }}
              </a>

              {% if item.description %}
                <p class="mt-5 text-14">
                  {{ item.description }}
                </p>
              {% endif %}

              {% if item.children | length %}
                {% include '_partials/header/menu.twig' ignore missing with {
                  uid: random(),
                  items: item.children,
                } %}
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  {% elseif level == 2 %}
    <ul class="flex mt-15 -mx-15">
      {% for item in items %}
        <li class="{{ item.classes | join(' ') | trim }} {{ not loop.last ? 'border-r-2 ' }}border-blue-light leading-none px-15">
          <a
            class="{{ not front_page ? 'text-blue-denim ' }}font-bold inline-block text-14 transition-fast whitespace-no-wrap hover:underline"
            href="{{ item.link }}"
            data-track-gtm="Top Navigation|{{ level1ItemTitle }}|{{ item.title }}"
          >
            {{ item.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <div class="{{ front_page ? 'bg-blue border-blue-denim ' : 'bg-white border-gray ' }}border-t lg:border-t-0">
      <ul class="flex flex-wrap lg:-mx-15">
        {% for item in items %}
          {% set level0ItemTitle = item.title %}

          <li class="{{ item.classes | join(' ') | trim }} border-b border-gray-border leading-none py-10 w-full lg:border-b-0 lg:px-15 lg:w-auto">
            {% if item.children | length %}
              {% set uid = random() %}

              <button
                class="header-submenu-trigger border-b-2 border-transparent flex items-center justify-between py-10 transition-fast w-full whitespace-no-wrap lg:w-auto lg:hover:border-blue-denim{{ item.current_item_ancestor ? ' lg:border-blue-denim' }}"
                data-module="toggle"
                data-toggle-partners="{{ uid }}0"
                aria-controls="{{ uid }}"
              >
                {{ item.title }}
                <span class="ml-10">
                  {{ svg('arrow-right', { classes: 'text-blue-light lg:hidden' }) }}
                  {{ svg('dropdown', { classes: 'hidden text-blue-denim lg:block' }) }}
                </span>
              </button>

              <div
                class="hidden fixed inset-0 z-1 lg:block"
                data-toggle-partner="{{ uid }}0"
                aria-controls="{{ uid }}"
              ></div>

              {% include '_partials/header/menu.twig' ignore missing with {
                uid: uid,
                items: item.children,
              } %}
            {% else %}
              <a
                class="border-b-2 border-transparent inline-block py-10 transition-fast w-full whitespace-no-wrap lg:hover:border-blue-denim{{ item.current ? ' lg:border-blue-denim' }}"
                href="{{ item.link }}"
                data-track-gtm="Top Navigation|{{ item.title }}"
              >
                {{ item.title }}
              </a>
            {% endif %}
          </li>
        {% endfor %}

        <li class="my-50 w-full lg:hidden">
          <a
            class="button-small"
            href="/get-started/"
            data-track-gtm="Top Navigation|Contact Us"
          >
            Contact Us
          </a>
        </li>
      </ul>
    </div>
  {% endif %}
{% endif %}
