{% set image = TimberImage(insight.image) %}

<div class="flex flex-wrap items-center -mb-30 -mx-30">
  {% if image.src %}
    <div class="mb-30 px-30 w-full lg:w-5/12">
      <img src="{{ image.src | resize(720, 540, 'center') }}" alt="{{ image.alt }}" />
    </div>
  {% endif %}

  <div class="mb-30 px-30 w-full lg:w-7/12">
    <div class="flex flex-wrap mb-5 -mx-10 text-gray-a11y text-11">
      <div class="border-r border-gray-a11y leading-none mb-10 px-10">
        {{ insight.post_type == 'insight' ? 'Article' : insight.post_type | title }}
      </div>

      <div class="leading-none mb-10 px-10">
        {{ insight.post_date | date('F Y') }}
      </div>
    </div>

    <h3 class="heading-3 mb-10">
      {{ insight.title }}
    </h3>

    {% if insight.text %}
      <p class="text text-14">
        {{ insight.text }}
      </p>
    {% endif %}

    {% if insight.button_text %}
      <a class="link text-14" href="{{ insight.button_link ?? insight.link }}">
        {{ insight.button_text }}
        {{ svg('link') }}
      </a>
    {% endif %}
  </div>
</div>
