{% set image = TimberImage(insight.featured_image) %}

{% if image %}
  <img
    class="mb-20"
    src="{{ image.src | resize(720, 540) }}"
    srcset="{{ image.srcset }}"
    alt="{{ image.alt }}"
  />
{% endif %}

{% if insight.post_type and insight.post_date %}
  <ul class="flex flex-wrap mb-5 -mx-10 text-gray-a11y text-11">
    {% if insight.post_type %}
      <li class="border-r border-gray-a11y leading-none mb-10 px-10">
        {{ insight.post_type }}
      </li>
    {% endif %}

    {% if insight.post_date %}
      <li class="leading-none mb-10 px-10">
        {{ insight.post_date }}
      </li>
    {% endif %}
  </ul>
{% endif %}

{% if insight.heading %}
  <h3 class="heading-7 mb-10">
    {{ insight.heading }}
  </h3>
{% endif %}

{% if insight.text %}
  <p class="text text-14">
    {{ insight.text }}
  </p>
{% endif %}

{% if insight.button_text and insight.button_link %}
  <a class="link text-14" href="{{ insight.button_link }}">
    {{ insight.button_text }}
    {{ svg('link') }}
  </a>
{% endif %}
