<div class="bg-white h-full shadow-sm">
  {% set image = TimberImage(card.image) %}

  {% if image %}
    <img
      src="{{ image.src | resize(1440, 900) }}"
      srcset="{{ image.srcset }}"
      alt="{{ image.alt }}"
    />
  {% endif %}

  <div class="p-30 lg:py-50">
    {% if card.heading %}
      <h3 class="heading-4">
        {{ card.heading }}
      </h3>
    {% endif %}

    {% if card.text %}
      <div class="text">
        {{ card.text }}
      </div>
    {% endif %}

    {% if card.button_clone_link and card.button_clone_text %}
      <a class="link" href="{{ card.button_clone_link }}">
        {{ card.button_clone_text }}
        {{ svg('link') }}
      </a>
    {% endif %}
  </div>
</div>
