{%- import '_macros/index.twig' as macros -%}

{% set audio = audio ?? null %}
{% set image = image is iterable ? image.id : image %}
{% set uid = random() %}

<div
  class="aspect-ratio-16/9 overflow-hidden relative"
  data-module="audio"
  data-audio-title="{{ audio.title }}"
>
  <div class="absolute flex flex-col justify-center inset-0 p-10">
    {% if audio.url %}
      <div data-audio-player data-audio-source="{{ audio.url }}"></div>
    {% endif %}

    <div class="flex items-center mt-10 -mx-5">
      <div class="px-5">
        <button class="inline-block bg-blue-denim h-24 relative rounded-full text-white w-24" data-audio-play-pause>
          <span class="sr-only">
            Play Audio
          </span>
          {{ svg('audio-play', { classes: 'absolute inset-1/2 ml-1 translate-1/2' }) }}
          {{ svg('audio-pause', { classes: 'absolute inset-1/2 translate-1/2' }) }}
        </button>
      </div>

      <div class="px-5">
        <button class="inline-block bg-gray-border h-24 relative rounded-full text-white w-24" data-audio-skip-backward>
          <span class="sr-only">
            Skip Audio Backward
          </span>
          {{ svg('audio-backward', { classes: 'absolute inset-1/2 translate-1/2' }) }}
        </button>
      </div>

      <div class="px-5">
        <time class="text-gray-dark text-12" data-audio-progress></time>
      </div>

      {% if audio.caption %}
        <div class="flex-1 px-5 text-right">
          <button class="text-blue-denim text-12" aria-controls="{{ uid }}">
            Read Transcript
          </button>
        </div>

        {% set content %}
          <div class="text">
            {{ audio.caption }}
          </div>
        {% endset %}

        {% include '_partials/modal.twig' ignore missing with {
          content: content,
          size: 'sm',
          uid: uid,
        } only %}
      {% endif %}
    </div>
  </div>

  {{ image }}
  {% if image %}
    <div class="overlay absolute h-full inset-1/2 transition translate-1/2 w-full z-10" data-audio-play-pause>
      {{ macros.responsiveImage(image, 720, 405) }}

      <button class="absolute inset-1/2 h-80 translate-1/2 w-80">
        <span class="sr-only">
          Play Audio
        </span>
        {{ svg('play') }}
      </button>
    </div>
  {% endif %}
</div>
