{% set uid = random() %}

<div class="bg-white h-full relative">
  <button
    class="block flex flex-col h-full text-left"
    data-module="toggle"
    data-toggle-partner="{{ uid }}{{ loop.index }}0"
    aria-controls="{{ uid }}{{ loop.index }}"
  >
    {% set image = TimberImage(service.image) %}

    {% if image.src %}
      <img src="{{ image.src | resize(450, 450, 'center') }}" alt="{{ image.alt }}" />
    {% endif %}

    <div class="flex flex-col flex-grow p-20">
      <div class="flex-grow">
        {% if service.heading %}
          <h3 class="heading-4 mb-15">
            {{ service.heading }}
          </h3>
        {% endif %}

        {% if service.text %}
          <div class="text text-14">
            {{ service.text | length > 120 ? service.text | excerpt(30) ~ '...' : service.text }}
          </div>
        {% endif %}
      </div>

      <div>
        <span class="font-bold inline-block mt-20 text-14 text-blue-denim">
          See Details
          <span class="sr-only">
            for {{ program.title }}
          </span>
        </span>
      </div>
    </div>
  </button>

  <div
    id="{{ uid }}{{ loop.index }}"
    class="absolute bg-white inset-x-0 min-h-full px-30 py-40 shadow-sm top-0"
    aria-hidden="true"
  >
    <div class="mb-5 text-gray-dark text-11">
      {{ service.subheading ?? 'Service' }}
    </div>

    {% if service.heading %}
      <h3 class="heading-4 mb-20">
        {{ service.heading }}
      </h3>
    {% endif %}

    {% if service.text %}
      <div class="text mb-20 text-14">
        {{ service.text }}
      </div>
    {% endif %}

    {% if service.platforms | length %}
      <div class="mb-5 text-11 text-gray-dark">
        Available on
      </div>

      <p class="font-bold mb-20 text-14">
        {% for platform in Term(service.platforms)  %}
          {{ loop.last ? platform.name : platform.name ~ ', ' }}
        {% endfor %}
      </p>
    {% endif %}

    {% if service.products | length %}
      <div class="mb-5 text-11 text-gray-dark">
        Related Products
      </div>

      <p class="font-bold mb-20 text-14">
        {% for product in Post(service.products) %}
            {{ loop.last ? '<a class="text-blue-denim" href="' ~ product.link ~ '">' ~ product.title ~ '</a>' : '<a class="text-blue-denim" href="' ~ product.link ~ '">' ~ product.title ~ '</a>, ' }}
          </a>
        {% endfor %}
      </p>
    {% endif %}

    {% if service.work | length %}
      <div class="mb-5 text-11 text-gray-dark">
        Related Work
      </div>

      <p class="font-bold mb-20 text-14">
        {% for work in Post(service.work) %}
          {{ loop.last ? '<a class="text-blue-denim" href="' ~ work.link ~ '">' ~ work.title ~ '</a>' : '<a class="text-blue-denim" href="' ~ work.link ~ '">' ~ work.title ~ '</a>, ' }}
        {% endfor %}
      </p>
    {% endif %}

    {% if service.button_link and service.button_text %}
      <a class="button w-full" href="{{ service.button_link }}">
        {{ service.button_text }}
      </a>
    {% endif %}

     <button
      id="{{ uid }}{{ loop.index }}0"
      class="absolute h-44 mr-5 mt-5 right-0 top-0 w-44"
      aria-controls="{{ uid }}"
    >
      <span class="sr-only">
        Close {{ program.title }} Details
      </span>
      {{ svg('close', { classes: 'absolute inset-1/2 pointer-events-none translate-1/2' }) }}
    </button>
  </div>
</div>
