{% if platforms | length %}
  <div class="mb-20 overflow-hidden">
    <div class="-mb-20 overflow-x-auto pb-20">
      <div class="border-b border-gray-border">
        <ul class="flex items-center -mx-20">
          <li class="leading-tight px-20">
            {% if query_vars['format'] | length == 0 %}
              <a class="block font-bold pb-15 relative text-blue-link text-center whitespace-no-wrap current" href="/product">
                All Formats
              </a>
            {% else %}
              <a class="block font-bold pb-15 relative text-gray-a11y text-center whitespace-no-wrap" href="/product">
                All Formats
              </a>
            {% endif %}
          </li>

          {% for platform in platforms %}
            {% if platform.parent == 0 %}
              <li class="leading-tight px-20">
                {% if platform.id in query_vars['format'] %}
                  <a class="flex flex-wrap font-bold justify-center inline-block items-center pb-15 relative text-blue-link text-center whitespace-no-wrap current" href="/product">
                    {{ svg(platform.slug, { classes: 'mb-5 mr-10' }) }}
                    {{ platform.name }}
                  </a>
                {% else %}
                  <a class="flex flex-wrap font-bold justify-center inline-block items-center pb-15 relative text-center text-gray-a11y whitespace-no-wrap" href="/product?format={{ platform.id }}">
                    {{ svg(platform.slug, { classes: 'mb-5 mr-10' }) }}
                    {{ platform.name }}
                  </a>
                {% endif %}
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <div class="overflow-hidden">
    <div class="-mb-20 overflow-x-auto pb-20">
      <ul class="flex items-center -mx-15 text-12">
        {% for platform in platforms %}
        {{ platform.parent }}
          {% if platform.parent != 0 %}
            <li class="px-15">
              {% if platform.id in query_vars['platform'] %}
                {% set filtered_query_vars = [] %}

                {% for query_var in query_vars['platform'] if query_var != platform.id %}
                  {% set filtered_query_vars = filtered_query_vars | merge([query_var]) %}
                {% endfor %}

                <a class="bg-blue-link flex font-bold inline-block items-center px-10 py-5 rounded-full text-white whitespace-no-wrap" href="/product?format={{ platform.parent }}&platform={{ filtered_query_vars | join(',') }}">
                  {{ platform.name }}
                  {{ svg('clear', { classes: 'ml-5' }) }}
                </a>
              {% else %}
                <a class="font-bold inline-block text-gray-a11y whitespace-no-wrap" href="/product?format={{ platform.parent }}&platform={{ query_vars['platform'] | length ? query_vars['platform'] | join(',') ~ ',' ~ platform.id : platform.id }}">
                  {{ platform.name }}
                </a>
              {% endif %}
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}
