{% if formats | length %}
  <div class="mb-20 overflow-hidden">
    <div class="-mb-20 overflow-x-auto pb-20">
      <div class="border-b border-gray-border">
        <ul class="flex items-center -mx-10 lg:-mx-20">
          <li class="flex-no-shrink px-10 lg:px-20">
            <a class="{{ active_formats | length ? 'text-gray-a11y ' : 'text-blue-link ' }}font-bold inline-block pb-15 relative text-center whitespace-no-wrap" href="/product">
              All Formats
            </a>
          </li>

          {% for format in formats %}
            <li class="flex-no-shrink px-10 lg:px-20">
              <a class="{{ format.active ? 'text-blue-link ' : 'text-gray-a11y ' }}flex font-bold items-center pb-15 relative text-center whitespace-no-wrap" href="/product?format={{ format.id }}">
                {{ svg(format.slug, { classes: 'mr-10' }) }}
                {{ format.name }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endif %}
