{% extends '_layouts/base.twig' %}

{% block content %}
  <div class="archive-product">
    <div class="bg-gray py-50">
      <div class="container-lg">
        {% include 'templates/archive-product/formats.twig' ignore missing %}
        {% include 'templates/archive-product/platforms.twig' ignore missing %}

        <div class="flex flex-wrap -mb-20 -mx-10 py-50">
          {% for product in products %}
            <div class="mb-20 px-10 w-full md:w-1/2 lg:w-1/4">
              <a class="bg-white block h-full p-30 shadow-sm text-14" href="{{ product.link }}">
                <ul class="flex mb-30 -mx-5">
                  {% for platform in product.get_terms('platform') if platform.parent == 0 %}
                    <li class="px-5">
                      {{ svg(platform.slug, { classes: 'text-blue-light' }) }}
                    </li>
                  {% endfor %}
                </ul>

                <h2 class="heading-7 mb-15">
                  {{ product.title }}
                </h2>

                {% if product.subheading %}
                  <h3 class="font-bold mb-15">
                    {{ product.subheading }}
                  </h3>
                {% endif %}

                {% if product.text %}
                  <p class="text">
                    {{ product.text }}
                  </p>
                {% endif %}

                <span class="link mt-20">
                  Details
                  {{ svg('link') }}
                </span>
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
