{% if platforms.parents | length %}
  <div class="overflow-hidden">
    <div class="-mb-20 overflow-x-auto pb-20">
      <ul class="flex items-center -mx-10 lg:-mx-20">
        <li class="flex-no-shrink px-10 lg:px-20">
          <a class="{{ current_platforms.parents | length ? 'text-gray-a11y ' : 'text-blue-link ' }}font-bold inline-block pb-15 relative text-center whitespace-no-wrap" href="{{ fn('get_post_type_archive_link', 'product') }}">
            All Formats
          </a>
        </li>

        {% for platform in platforms.parents %}
          {% set image = TimberImage(platform.image) %}

          <li class="flex-no-shrink px-10 lg:px-20">
            {% if platform.current %}
              <a class="flex font-bold items-center pb-15 relative text-blue-link text-center whitespace-no-wrap" href="{{ fn('get_post_type_archive_link', 'product') }}">
                {% if image.file_loc %}
                  <span class="mr-5">
                    {{ fn('file_get_contents', image.file_loc)}}
                  </span>
                {% endif %}

                {{ platform.name }}
              </a>
            {% else %}
              <a class="flex font-bold items-center pb-15 relative text-gray-a11y text-center whitespace-no-wrap" href="{{ fn('add_query_arg', 'platform', platform.slug) }}">
                {% if image.file_loc %}
                  <span class="mr-5">
                    {{ fn('file_get_contents', image.file_loc)}}
                  </span>
                {% endif %}

                {{ platform.name }}
              </a>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}
