{% if platforms.parents | length %}
  <div class="overflow-hidden">
    <div class="-mb-20 overflow-x-auto pb-15">
      <ul class="flex items-center -mx-10 lg:-mx-20">
        <li class="flex-no-shrink px-10 lg:px-20">
          <a class="{{ current_platforms.parents | length ? 'text-gray-dark ' : 'text-blue-denim ' }}font-bold inline-block pb-15 relative text-center transition-fast whitespace-no-wrap hover:text-blue-denim" href="{{ post.link }}">
            All Formats
          </a>
        </li>

        {% for platform in platforms.parents %}
          {% set image = TimberImage(platform.image) %}

          <li class="flex-no-shrink px-10 lg:px-15">
            {% if platform.current %}
              <a class="flex font-bold items-center pb-15 relative text-blue-denim text-center whitespace-no-wrap" href="{{ fn('get_post_type_archive_link', 'product') }}">
                {% if image.file_loc %}
                  <span class="mr-5">
                    {{ fn('file_get_contents', image.file_loc)}}
                  </span>
                {% endif %}

                {{ platform.name }}
              </a>
            {% else %}
              <a class="flex font-bold items-center pb-15 relative text-gray-dark text-center transition-fast whitespace-no-wrap hover:text-blue-denim" href="{{ fn('add_query_arg', 'platform', platform.slug) }}">
                {% if image.file_loc %}
                  <span class="mr-5">
                    {{ fn('file_get_contents', image.file_loc)}}
                  </span>
                {% endif %}

                {{ platform.name }}
              </a>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}

{% if current_platforms.parents | length and platforms.children | length %}
  <div class="border-t border-gray-border overflow-hidden">
    <div class="-mb-20 overflow-x-auto py-20">
      <ul class="flex items-center -mx-10 text-12 lg:-mx-15">
        {% for platform in platforms.children if platform.current_item_parent %}
          <li class="px-10 lg:px-15">
            {% if platform.current and platform.current_item_parent %}
              <a class="bg-blue-denim flex font-bold inline-block items-center px-10 py-5 rounded-full text-white whitespace-no-wrap" href="{{ fn('add_query_arg', 'platform', platform.current_item_others | join(',') ) }}">
                {{ platform.name }}
                {{ svg('clear', { classes: 'ml-5' }) }}
              </a>
            {% else %}
              <a class="font-bold inline-block text-gray-dark transition-fast whitespace-no-wrap hover:text-blue-denim" href="{{ fn('add_query_arg', 'platform', current_platforms.children | merge([platform.slug]) | merge([platform.item_parent.slug]) | join(',') ) }}">
                {{ platform.name }}
              </a>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}
