{% set block = block ?? null %}

{% if block %}
  <section class="section" data-label="featured-work">
    <div class="container">
      {% if block.featured_work %}
        {% set work = Post(block.featured_work) %}

        <div class="flex flex-wrap items-center -mb-30 -mx-20">
          <div class="mb-30 px-20 w-full lg:w-2/3">
            {% set image = TimberImage(work.featured_image) %}

            {% if image %}
              <img src="{{ image.src | resize(1080, 679, 'center') }}" alt="{{ image.alt }}" />
            {% endif %}
          </div>

          <div class="mb-30 px-20 w-full lg:w-1/3">
            <h4 class="heading-6 mb-20">
              Featured Work
            </h4>

            <h3 class="heading-7 mb-15">
              {{ work.title }}
            </h3>

            {% if work.text %}
              <p class="text text-14">
                {{ work.text }}
              </p>
            {% endif %}

            <a class="arrow mt-20 text-14" href="{{ work.link }}">
              View the work
              {{ svg('arrow') }}
            </a>
          </div>
        </div>
      {% endif %}
    </div>
  </section>
{% endif %}
