{% if posts.pagination.pages | length %}
  <div data-label="pagination">
    {% if posts.pagination.prev %}
      <a href="{{posts.pagination.prev.link}}">
        Previous
      </a>
    {% endif %}

    <ul>
      {% for page in posts.pagination.pages %}
        <li>
          {% if page.link %}
            <a href="{{page.link}}">
              {{page.title}}
            </a>
          {% else %}
            <span>
              {{page.title}}
            </span>
          {% endif %}
        </li>
      {% endfor %}
    </ul>

    {% if posts.pagination.next %}
      <a href="{{posts.pagination.next.link}}">
        Next
      </a>
    {% endif %}
  </div>
{% endif %}
