{% set block = block ?? null %}

{% if block %}
  <section class="section" data-label="hero-single-product">
    <div class="container">
      <div class="flex flex-wrap items-center -mx-30">
        <div class="mb-30 px-30 w-full lg:w-7/12">
          {% if block.heading %}
            <h1 class="heading-3 mb-10">
              {{ block.heading }}
            </h1>
          {% endif %}

          {% set platforms = post.terms('platform') %}

          {% if platforms %}
            <p class="text mb-20 md:mb-25 lg:mb-30">
              <span class="font-bold">
                Available for:
              </span>
              {{ platforms | join(', ') }}
            </p>
          {% endif %}

          {% if block.text %}
            <div class="text">
              {{ block.text }}
            </div>
          {% endif %}

          {% if block.button_clone_link and block.button_clone_text %}
            <a class="button mt-25 lg:mt-30" href="{{ block.button_clone_link }}">
              {{ block.button_clone_text }}
            </a>
          {% endif %}
        </div>
        <div class="px-30 w-full lg:w-5/12">
          {% if block.video %}
            <div class="video mb-20" data-module="video">
              {{ block.video }}

              <div class="video-overlay absolute h-full inset-1/2 translate-1/2 w-full z-10">
                {% set image = TimberImage(block.image) %}

                {% if image %}
                  <img
                    src="{{ image.src | resize(720, 405) }}"
                    srcset="{{ image.srcset }}"
                    alt="{{ image.alt }}"
                  />
                {% endif %}

                <button class="absolute inset-1/2 h-80 translate-1/2 w-80" data-video-play>
                  {{ svg('play') }}
                  <span class="screen-reader-only">
                    Play
                  </span>
                </button>
              </div>
            </div>
          {% else %}
            {% set image = TimberImage(work.image) %}

            {% if image %}
              <img
                src="{{ image.src | resize(720, 405) }}"
                srcset="{{ image.srcset }}"
                alt="{{ image.alt }}"
              />
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  </section>
{% endif %}
