{% set block = block ?? null %}

{% if block %}
  <section class="section" data-label="hero-single-product">
    <div class="container">
      <div class="flex flex-wrap items-center -mx-30">
        <div class="mb-30 px-30 w-full{{ block.video or block.audio or block.image.src ? ' lg:w-7/12' : ' lg:w-2/3' }}">
          {% if block.heading %}
            <h1 class="heading-3 mb-10">
              {{ block.heading }}
            </h1>
          {% endif %}

          {% set platforms = post.terms('platform') %}

          {% if platforms | length %}
            <p class="text mb-20 md:mb-25 lg:mb-30">
              <span class="font-bold">
                Available for:
              </span>
              {{ platforms | join(', ') }}
            </p>
          {% endif %}

          {% if block.text %}
            <div class="text">
              {{ block.text }}
            </div>
          {% endif %}

          {% if block.button_link and block.button_text %}
            <a class="button mt-25 lg:mt-30" href="{{ block.button_link }}">
              {{ block.button_text }}
            </a>
          {% endif %}
        </div>

        <div class="px-30 w-full lg:w-5/12">
          {% if block.type == 'video' %}
            {% include '_partials/video/index.twig' ignore missing with {
              video: block.video,
              image: block.image,
            } only %}
          {% elseif block.type == 'audio' %}
            {% include '_partials/audio/index.twig' ignore missing with {
              audio: block.audio,
              image: block.image,
            } only %}
          {% else %}
            {% include '_partials/image/index.twig' ignore missing with {
              image: block.image,
            } only %}
          {% endif %}
        </div>
      </div>
    </div>
  </section>
{% endif %}
