{% set block = block ?? null %}

{% if block %}
  {% set article_report = Post(block.featured_article_report) %}

  <section class="section relative{{ article_report.type != 'video' ? ' pb-0 lg:pb-50' }}" data-label="hero-archive-insight">
    {{ svg('pattern', { classes: 'absolute bottom-0 hidden h-auto inset-x-0 w-full lg:block' }) }}

    <div class="container">
      <div class="flex flex-wrap items-center -mx-30 relative">
        <div class="px-30 w-full lg:w-1/2">
          <div class="heading-6 mb-20">
            {{ article_report.post_type | title }}
          </div>

          <h1 class="heading-3">
            {{ article_report.title }}
          </h1>

          {% if article_report.text %}
            <div class="text text-16 lg:text-18">
              {{ article_report.text }}
            </div>
          {% endif %}

          {% set button_link = article_report.button_link | length ?  article_report.button_link : article_report.link %}
          {% set button_text = article_report.button_text | length ? article_report.button_text : 'Read more' %}

          <a
            class="button mt-25"
            href="{{ button_link }}"
            data-track-gtm="Call to Action|{{ current_url }}|{{ button_text }}:{{ button_link }}"
          >
            {{ button_text }}
          </a>
        </div>

        <div class="mt-40 px-30 relative w-full lg:mt-0 lg:w-1/2">
          {% if article_report.type == 'video' %}
            {% set video = article_report.get_field('video') ?? null %}

            {% include '_partials/video/index.twig' ignore missing with {
              video: video,
              image: article_report.image,
            } only %}
          {% else %}
            {% if article_report.featured_image %}
              {{ macros.responsiveImage(article_report.featured_image, 1080, 810, ['pin-r']) }}

              {% include '_partials/credit.twig' ignore missing with {
                credit: article_report.featured_image.description,
              } only %}
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  </section>
{% endif %}
