{%- import '_macros/index.twig' as macros -%}

<!doctype html>
<html dir="ltr" lang="en" class="no-js">
  <head>
      <meta charset="{{ site.charset }}">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <title>{{ site.name }}</title>

      {{ wp_head }}
  </head>
  <body class="{{ body_class }} preload">
    <a class="sr-only focus:sr-undo" href="#main" data-module="preload">
      Skip to Content
    </a>

    {% include '_partials/header/index.twig' ignore missing %}

    <div class="overflow-hidden">
      <main
        id="main"
        role="main"
        tabindex="-1"
      >
        {% block content %}
          <p class="text">
            Sorry, we couldn't find the associated content.
          </p>
        {% endblock %}

        {% if fields is defined and fields.call_to_action | length %}
          {% include '_partials/cta/index.twig' ignore missing with {
            color_select: fields.call_to_action.color_select,
            image: fields.call_to_action.image,
            heading: fields.call_to_action.heading,
            text: fields.call_to_action.text,
            button_link: fields.call_to_action.button_link,
            button_text: fields.call_to_action.button_text,
            current_url: current_url,
          } only %}
        {% endif %}
      </main>

      {% include '_partials/footer/index.twig' ignore missing %}

      {{ wp_footer }}
    </div>
  </body>
</html>
