{% set block = block ?? null %}

{% if block %}
  <section class="section bg-blue text-white" data-label="team">
    {% if block.heading %}
      <div class="container-sm">
        <h2 class="heading-3 text-center">
          {{ block.heading }}
        </h2>
      </div>
    {% endif %}

    <div class="container">
      <div class="flex flex-wrap -mb-50 -mx-30">
        {% for team in block.team %}
          <div class="mb-50 px-30 w-full md:w-1/2 lg:w-1/3">
            {% set image = TimberImage(team.image) %}

            {% if image.src %}
              <img class="mb-30 rounded-full" src="{{ image.src | resize(720, 720) }}" alt="{{ image.alt }}" />
            {% endif %}

            {% if team.name %}
              <h3 class="heading-5 mb-10">
                {{ team.name }}
              </h3>
            {% endif %}

            {% if team.title %}
              <div>
                {{ team.title }}
              </div>
            {% endif %}

            {% if team.text %}
              {% set uid = random() %}

              <div class="border-t border-blue-light mt-15 pt-5">
                <button
                  class="team-open text-blue-light text-14"
                  data-module="toggle"
                  data-toggle-partner="{{ uid }}0"
                  aria-controls="{{ uid }}"
                >
                  Bio
                </button>
              </div>

              <div
                id="{{ uid }}"
                class="pt-20 text text-14"
                aria-hidden="true"
              >
                {{ team.text }}

                <div class="border-t border-blue-light mt-15 pt-5">
                  <button
                    id="{{ uid }}0"
                    class="text-blue-light text-14"
                    aria-controls="{{ uid }}"
                  >
                    Close Bio
                  </button>
                </div>
              </div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endif %}
