<div class="flex flex-wrap items-center -mx-30 lg:flex-no-wrap lg:flex-row-reverse">
  {% set image = TimberImage(testimonial.image) %}

  {% if image.src %}
    <div class="px-30 w-full lg:w-1/2">
      <img
        class="pin-r -mx-20 lg:mx-0"
        src="{{ image.src | resize(1080, 1080, 'center') }}"
        alt="{{ image.alt }}"
      />
    </div>
  {% endif %}

  <div class="px-30 w-full lg:pr-60 lg:w-1/2">
    <div class="mt-50 text-center text-white lg:mt-0 lg:py-100 lg:text-left">
      {% if testimonial.heading %}
        <h2 class="heading-3">
          {{ testimonial.heading }}
        </h2>
      {% endif %}

      {% if testimonial.text %}
        <div class="text font-serif italic text-24">
          {{ testimonial.text }}
        </div>
      {% endif %}

      {% if testimonial.attribution %}
        <p class="text text-14 mt-20 md:mt-25 lg:mt-30">
          {{ testimonial.attribution }}
        </p>
      {% endif %}
    </div>
  </div>
</div>
