{% set block = block ?? null %}

{% if block %}
  <section class="section" data-label="hero-about">
    <div class="container">
      <div class="flex flex-wrap items-center -mb-50 -mx-30">
        {% set image = TimberImage(block.image) %}

        <div class="mb-50 px-30 w-full{{ image.src ? ' lg:w-7/12' : ' lg:w-3/4' }}">
          <div class="heading-6 mb-20">
            {{ post.title }}
          </div>

          {% if block.heading %}
            <h1 class="heading-3">
              {{ block.heading }}
            </h1>
          {% endif %}

          {% if block.text %}
            <div class="text text-16 lg:text-18">
              {{ block.text }}
            </div>
          {% endif %}

          {% if block.button_link and block.button_text %}
            <a class="button mt-25 lg:mt-30" href="{{ block.button_link }}">
              {{ block.button_text }}
            </a>
          {% endif %}
        </div>

        {% if image.src %}
          <div class="mb-50 px-30 w-full lg:w-5/12">
            <img src="{{ image.src | resize(720, 405, 'center') }}" alt="{{ image.alt }}" />
          </div>
        {% endif %}
      </div>
    </div>
  </section>
{% endif %}
