{% set block = block ?? null %}

{% if block %}
  <section class="section" data-label="hero-about">
    <div class="container">
      <div class="flex flex-wrap items-center -mx-30">
        <div class="px-30 w-full{{ block.image.id ? ' lg:w-7/12' : ' lg:w-3/4' }}">
          <div class="heading-6 mb-20">
            {{ post.title }}
          </div>

          {% if block.heading %}
            <h1 class="heading-3">
              {{ block.heading }}
            </h1>
          {% endif %}

          {% if block.text %}
            <div class="text text-16 lg:text-18">
              {{ block.text }}
            </div>
          {% endif %}

          {% if block.button_link and block.button_text %}
            <a
              class="button mt-25 lg:mt-30"
              href="{{ block.button_link }}"
              data-track-gtm="Call to Action|{{ current_url }}|{{ block.button_text }}:{{ block.button_link }}"
            >
              {{ block.button_text }}
            </a>
          {% endif %}
        </div>

        {% if block.image.id %}
          <div class="mt-40 px-30 w-full lg:mt-0 lg:w-5/12">
            {{ macros.responsiveImage(block.image.id, 720, 405) }}
          </div>
        {% endif %}
      </div>
    </div>
  </section>
{% endif %}
