{% if heading %}
  <h2 class="heading-3">
    {{ heading }}
  </h2>
{% endif %}

{% if text %}
  <div class="text mb-25 lg:mt-30">
    {{ text }}
  </div>
{% endif %}

{% if button_link and button_text %}
  {% if color_select == 'white' or color_select == 'gray' %}
    <a class="button" href="{{ button_link }}">
      {{ button_text }}
    </a>
  {% elseif image %}
    <a class="button-white" href="{{ button_link }}">
      {{ button_text }}
    </a>
  {% else %}
    <a class="button-outline" href="{{ button_link }}">
      {{ button_text }}
    </a>
  {% endif %}
{% endif %}
