{% set block = block ?? null %}

{% if block %}
  {% set article = Post(block.featured_article) %}

  <section class="section" data-label="featured-article">
    <div class="container">
      <div class="flex flex-wrap items-center -mx-30 lg:flex-no-wrap lg:flex-row-reverse">
        <div class="px-30 w-full lg:w-1/2">
          <div class="flex flex-wrap leading-none mb-20 -mx-10 text-gray-dark text-11">
            <div class="border-r border-gray-dark px-10">
               {{ article.post_type | title }}
            </div>

            <div class="px-10">
              {{ article.post_date | date('F Y') }}
            </div>
          </div>

          <h2 class="heading-3">
            {{ article.title }}
          </h2>

          {% if article.text %}
            <div class="text text-16 lg:text-18">
              {{ article.text }}
            </div>
          {% endif %}

          {% set button_link = article.button_link | length ? article.button_link : article.link %}
          {% set button_text = article.button_text | length ? article.button_text : 'Read more' %}

          <a
            class="arrow mt-20"
            href="{{ button_link }}"
            {{ fn('get_image_target', button_link) }}
          >
            {{ button_text }}
            {{ svg('arrow-right') }}
          </a>
        </div>

        {% if article.featured_image %}
          <div class="mt-40 px-30 w-full lg:mt-0 lg:w-1/2">
            {{ macros.responsiveImage(article.featured_image, 1080, 810) }}
          </div>
        {% endif %}
      </div>
    </div>
  </section>
{% endif %}
