<div class="bg-white flex flex-col h-full shadow-sm">
  {% if featured_content.image.id %}
    <div class="aspect-ratio-16/9 relative" data-module="responsive-background-image">
      {{ macros.responsiveImage(featured_content.image.id, 1080, 607) }}

      {% include '_partials/credit.twig' ignore missing with {
        credit: featured_content.image.description,
      } only %}
    </div>
  {% endif %}

  <div class="flex-grow my-20 px-20">
    {% if featured_content.heading %}
      <h3 class="heading-4">
        {{ featured_content.heading }}
      </h3>
    {% endif %}

    {% if featured_content.text %}
      <div class="text">
        {{ featured_content.text }}
      </div>
    {% endif %}
  </div>

  {% if featured_content.button_link and featured_content.button_text %}
    <div class="mb-20 px-20">
      <a
        class="arrow"
        href="{{ featured_content.button_link }}"
        data-track-gtm="Call to Action|{{ current_url }}|{{ featured_content.button_text }}:{{ featured_content.button_link }}"
      >
        {{ featured_content.button_text }}
        {{ svg('arrow-right') }}
      </a>
    </div>
  {% endif %}
</div>
