<div class="bg-white h-full p-30 shadow-sm text-14">
  <div class="h-full pb-50 relative">
    {% set platforms = product.get_terms('platform') %}

    {% if platforms | length %}
      <ul class="flex mb-30 -mx-5">
        {% for platform in platforms %}
          {% if platform.parent == 0 %}
            <li class="px-5">
              <span class="sr-only">
                {{ platform.name }}
              </span>

              {% set image = TimberImage(platform.image) %}

              {% if image.file_loc %}
                <span class="text-blue-light">
                  {{ fn('file_get_contents', image.file_loc)}}
                </span>
              {% endif %}
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    {% endif %}

    <h2 class="heading-7 mb-15">
      {{ product.title }}
    </h2>

    {% if product.variants %}
      <div class="font-bold mb-15">
        {{ product.variants }}
      </div>
    {% endif %}

    {% if product.text %}
      <p class="text">
        {{ product.text }}
      </p>
    {% endif %}

    <a class="link absolute bottom-0 left-0" href="{{ product.link }}">
      Details
      {{ svg('link') }}
    </a>
  </div>
</div>
