<footer class="py-50 lg:py-75" data-label="footer">
  <div class="container">
    <div class="flex flex-wrap -mb-40 -mx-30">
      <div class="mb-40 px-30 w-full lg:w-7/12">
        <div class="border-b border-gray-border pb-40 text-center lg:border-b-0 lg:pb-0 lg:text-left">
          <a class="inline-block" href="/">
            {{ svg('logo', { classes: 'logo' }) }}
          </a>

          {% if menu.secondary.items | length %}
            <nav class="mt-30 lg:mt-15" role="navigation">
              <ul class="flex flex-wrap -mb-30 -mx-20 lg:-mb-15">
                {% for item in menu.secondary.items %}
                  <li class="leading-none mb-30 px-20 w-full lg:mb-15 lg:w-auto">
                    <a class="transition-fast whitespace-no-wrap hover:text-blue-denim" href="{{ item.link }}">
                      {{ item.title }}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </nav>
          {% endif %}

          {% if menu.utilities.items | length %}
            <nav class="hidden mt-25 lg:block" role="navigation">
              <ul class="flex flex-wrap justify-center -mb-15 -mx-10 lg:justify-start">
                {% for item in menu.utilities.items %}
                  <li class="leading-none mb-15 px-10">
                    <a class="text-gray-dark text-11 transition-fast whitespace-no-wrap hover:text-blue-denim" href="{{ item.link }}">
                      {{ item.title }}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </nav>
          {% endif %}
        </div>
      </div>

      {% if menu.resources.items | length %}
        <div class="mb-40 px-30 w-full lg:w-5/12">
          <div class="border-b border-gray-border pb-40 lg:border-b-0 lg:pb-0">
            <h3 class="heading-6 mb-20 text-center lg:border-b lg:border-gray-border lg:mb-15 lg:pb-15 lg:text-left">
              {{ menu.resources.title }}
            </h3>
            <nav role="navigation">
              <ul class="flex flex-wrap -mb-15 -mx-20">
                {% for item in menu.resources.items %}
                  <li class="flex-no-shrink leading-none mb-15 px-20 w-1/2 md:w-1/3">
                    <a class="text-14 transition-fast whitespace-no-wrap hover:text-blue-denim" href="{{ item.link }}">
                      {{ item.title }}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </nav>
          </div>
        </div>
      {% endif %}

      {% if menu.utilities.items | length %}
        <div class="mb-40 px-30 w-full lg:hidden lg:w-auto">
          <nav role="navigation">
            <ul class="flex flex-wrap justify-center -mb-15 -mx-10 lg:justify-start">
              {% for item in menu.utilities.items %}
                <li class="leading-none mb-15 px-10">
                  <a class="text-gray-dark text-11 transition-fast whitespace-no-wrap hover:text-blue-denim" href="{{ item.link }}">
                    {{ item.title }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </nav>
        </div>
      {% endif %}
    </div>
  </div>
</footer>
