{% set block = block ?? null %}

{% if block %}
  <section class="pt-30 relative lg:pt-0" data-label="hero-single-sponsorship">
    <div class="container">
      <div class="flex flex-wrap items-center -mx-30">
        <div class="flex flex-col justify-center px-30 w-full lg:py-50 lg:w-7/12">
          {% if block.subheading %}
            <div class="heading-8 mb-20">
              {{ block.subheading }}
            </div>
          {% endif %}

          {% if block.heading %}
            <h1 class="heading-3">
              {{ block.heading }}
            </h1>
          {% endif %}

          {% if block.text %}
            <div class="text text-16 lg:text-18">
              {{ block.text }}
            </div>
          {% endif %}

          {% if block.button_link and block.button_text %}
            <div>
              <a
                class="button mt-25"
                href="{{ block.button_link }}"
                data-track-gtm="Call to Action|{{ current_url }}|{{ block.button_text }}:{{ block.button_link }}"
              >
                {{ block.button_text }}
              </a>
            </div>
          {% endif %}
        </div>

        {% if block.image.id %}
          <div class="px-30 w-full lg:-mb-25 lg:w-5/12">
            <div class="pin-r relative lg:h-full lg:pb-0" data-module="responsive-background-image">
              {{ macros.responsiveImage(block.image.id, 1080, 1080) }}

              <div class="aspect-ratio-16/9 lg:aspect-ratio-square"></div>

              {% include '_partials/credit.twig' ignore missing with {
                credit: block.image.description,
              } only %}
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </section>
{% endif %}
