{% set image = TimberImage(audience.image) %}

{% if image.src %}
  <div class="clearfix">
    <img
      class="pin-r"
      src="{{ image.src | resize(1620, 720, 'center') }}"
      alt="{{ image.alt }}"
    />
  </div>
{% endif %}

<div class="py-30 lg:pl-60 lg:py-50">
  {% if audience.heading %}
    <h2 class="heading-3 hidden lg:block">
      {{ audience.heading }}
    </h2>
  {% endif %}

  {% if audience.text %}
    <div class="text mb-30 lg:mb-40">
      {{ audience.text }}
    </div>
  {% endif %}

  {% if audience.stats | length %}
    <div class="flex flex-wrap -mb-40 -mx-30">
      {% for stat in audience.stats %}
        <div class="mb-40 px-30 md:w-1/2 lg:w-1/2 xl:w-1/3">
          {% include '_blocks/audiences/stat.twig' ignore missing %}
        </div>
      {% endfor %}
    </div>
  {% endif %}

  {% if audience.attribution %}
    <p class="text mt-20 opacity-75 text-11 md:mt-25 lg:mt-30">
      {{ audience.attribution }}
    </p>
  {% endif %}
</div>
