{% set image = TimberImage(block.image) %}

{% if image %}
  <div class="clearfix">
    <img
      class="pin-r max-w-none -mx-20"
      src="{{ image.src | resize(1620, 720) }}"
      srcset="{{ image.srcset }}"
      alt="{{ image.alt }}"
    />
  </div>
{% endif %}

<div class="py-30 md:py-40 lg:pl-60 lg:py-60">
  {% if block.heading %}
    <h2 class="heading-3 hidden lg:block">
      {{ block.heading }}
    </h2>
  {% endif %}

  {% if block.text %}
    <div class="text mb-30 lg:mb-40">
      {{ block.text }}
    </div>
  {% endif %}

  {% if block.statistics | length %}
    <div class="flex flex-wrap -mb-40 -mx-30">
      {% for statistic in block.statistics %}
        <div class="mb-40 px-30 md:w-1/2 lg:w-1/3">
          {% include '_blocks/statistics/statistic.twig' ignore missing with {
            statistic: statistic,
          } only %}
        </div>
      {% endfor %}
    </div>
  {% endif %}
</div>
