
{% set block = block ?? null %}

{% if block %}
  <section class="section" data-label="images">
    {% if block.heading or block.text %}
      <div class="container-sm">
        {% if block.heading %}
          <h2 class="heading-4 text-center">
            {{ block.heading }}
          </h2>
        {% endif %}

        {% if block.text %}
          <div class="text">
            {{ block.text }}
          </div>
        {% endif %}
      </div>
    {% endif %}

    {% if block.images | length %}
      {% if block.images | length > 1 %}
        <div class="container mt-50">
          <div class="flex flex-wrap justify-center -mb-50 -mx-30">
            {% for image in block.images %}
              <div class="mb-50 px-30 w-full lg:w-1/2">
                {% set image = TimberImage(image) %}

                {% if image.id %}
                  {{ macros.responsiveImage(image.id, 1080, 960) }}
                {% endif %}
              </div>
            {% endfor %}
          </div>
        </div>
      {% else %}
        <div class="container-md mt-50">
          {% set image = TimberImage(block.images[0]) %}

          {% if image.src %}
            <img src="{{ image.src | resize(1080, 960, 'center') }}" alt="{{ image.alt }}" />
          {% endif %}
        </div>
      {% endif %}
    {% endif %}
  </section>
{% endif %}
