
{% set block = block ?? null %}

{% if block %}
  <section class="section" data-label="images">
    {% if block.heading or block.text %}
      <div class="container-sm mb-40 lg:mb-50">
        {% if block.heading %}
          <h2 class="heading-4 text-center">
            {{ block.heading }}
          </h2>
        {% endif %}

        {% if block.text %}
          <div class="text">
            {{ block.text }}
          </div>
        {% endif %}
      </div>
    {% endif %}

    {% if block.images | length %}
      {% if block.images | length > 1 %}
        <div class="container">
          <div class="flex flex-wrap justify-center -mb-50 -mx-30">
            {% for image in block.images %}
              <div class="mb-50 px-30 w-full lg:w-1/2">
                {% if image.id %}
                  {{ macros.responsiveImage(image.id, 1080) }}
                {% endif %}

                {% if image.caption %}
                  <div class="text mt-20 text-center text-12">
                    {{ image.caption }}
                  </div>
                {% endif %}
              </div>
            {% endfor %}
          </div>
        </div>
      {% else %}
        <div class="container-md">
          {% if block.images[0].id %}
            {{ macros.responsiveImage(block.images[0].id, 1080) }}
          {% endif %}

          {% if image.caption %}
            <div class="text mt-20 text-center text-12">
              {{ image.caption }}
            </div>
          {% endif %}
        </div>
      {% endif %}
    {% endif %}
  </section>
{% endif %}
