{% set block = block ?? null %}

{% if block %}
  <section class="section" data-label="{{ block.acf_fc_layout }}">
    <div class="container">
      <div class="flex flex-wrap items-center">
        <div class="w-full lg:w-7/12">
          <div class="pb-50 md:pb-75 lg:pb-0 lg:relative lg:z-10">
            {% if block.subheading %}
              <h2 class="heading-6 mb-20">
                {{ block.subheading }}
              </h2>
            {% endif %}

            {% if block.heading %}
              <h1 class="heading-3">
                {{ block.heading }}
              </h1>
            {% endif %}

            {% if block.text %}
              <div class="text text-18">
                {{ block.text }}
              </div>
            {% endif %}

            {% if block.button_link and block.button_text %}
              <a class="button mt-25 lg:mt-30" href="{{ block.button_link }}">
                {{ block.button_text }}
              </a>
            {% endif %}
          </div>
        </div>
        <div class="w-full lg:clearfix lg:w-5/12">
          {% set image = TimberImage(block.image) %}

          {% if image %}
            <img
              class="pin-right max-w-none -mx-20 lg:float-right lg:mx-0 lg:w-screen-5/12"
              src="{{ image.src | resize(1440, 1440) }}"
              srcset="{{ image.srcset }}"
              alt="{{ image.alt }}"
            />
          {% endif %}
        </div>
      </div>
  </section>
{% endif %}
