{% set block = block ?? null %}

{% if block %}
  <section class="section pb-0 relative z-10 lg:-mb-50 lg:pt-0" data-label="hero">
    <div class="container">
      <div class="flex flex-wrap items-center -mb-50">
        <div class="mb-50 w-full lg:w-7/12">
          <div class="px-30 lg:pr-60 lg:relative lg:z-10">
            {% if block.heading %}
              <h1 class="heading-3">
                {{ block.heading }}
              </h1>
            {% endif %}

            {% if block.text %}
              <div class="text text-16 lg:text-18">
                {{ block.text }}
              </div>
            {% endif %}

            {% if block.button_link and block.button_text %}
              <a class="button mt-25 lg:mt-30" href="{{ block.button_link }}">
                {{ block.button_text }}
              </a>
            {% endif %}
          </div>
        </div>

        {% set image = TimberImage(block.image) %}

        {% if image.src %}
          <div class="mb-50 px-30 w-full lg:w-5/12">
            <img
              class="pin-r -mx-20 max:mx-0"
              src="{{ image.src | resize(1440, 1440, 'center') }}"
              alt="{{ image.alt }}"
            />
          </div>
        {% endif %}
      </div>
    </div>
  </section>
{% endif %}
