<div class="flex flex-wrap items-center mb-50 -mx-20">
  <div class="mb-30 px-20 w-full lg:mb-0 lg:w-2/3">
    {% set image = TimberImage(work.featured_image) %}

    {% if image %}
      <img
        src="{{ image.src | resize(1440, 900) }}"
        srcset="{{ image.srcset }}"
        alt="{{ image.alt }}"
      />
    {% endif %}
  </div>

  <div class="px-20 w-full lg:w-1/3">
    <h4 class="heading-6 mb-20">
      Featured Work
    </h4>

    <h3 class="heading-7 mb-10">
      {{ work.title }}
    </h3>

    {% if work.text %}
      <p class="text text-14">
        {{ work.text }}
      </p>
    {% endif %}

    <a class="link text-14">
      View the work {{ svg('link') }}
    </a>
  </div>
</div>
