{% if work.type == 'audio' %}
  {% set audio = work.get_field('audio') ?? null %}

  {% include '_partials/audio/index.twig' ignore missing with {
    audio: audio,
    image: work.image,
  } only %}

  <div class="mt-20">
    <h3 class="heading-7 mb-15">
      {{ work.title }}
    </h3>

    {% if work.text %}
      <p class="text text-14">
        {{ work.text }}
      </p>
    {% endif %}

    <a
      class="arrow mt-20 text-14"
      href="{{ work.link }}"
      data-track-gtm="Call to Action|{{ current_url }}|View the work:{{ work.link }}"
    >
      View the work
      {{ svg('arrow-right') }}
    </a>
  </div>
{% elseif work.type == 'video' %}
  {% set video = work.get_field('video') ?? null %}

  {% include '_partials/video/index.twig' ignore missing with {
    video: video,
    image: work.image,
  } only %}

  <div class="mt-20">
    <h3 class="heading-7 mb-15">
      {{ work.title }}
    </h3>

    {% if work.text %}
      <p class="text text-14">
        {{ work.text }}
      </p>
    {% endif %}

    <a
      class="arrow mt-20 text-14"
      href="{{ work.link }}"
      data-track-gtm="Call to Action|{{ current_url }}|View the work:{{ work.link }}"
    >
      View the work
      {{ svg('arrow-right') }}
    </a>
  </div>
{% else %}
  {% set image = TimberImage(work.image) %}

  {% if image.src %}
    <img src="{{ image.src | resize(720, 405, 'center') }}" alt="{{ image.alt }}" />
  {% endif %}

  <div class="mt-20">
    <h3 class="heading-7 mb-15">
      {{ work.title }}
    </h3>

    {% if work.text %}
      <p class="text text-14">
        {{ work.text }}
      </p>
    {% endif %}

    <a
      class="arrow mt-20 text-14"
      href="{{ work.link }}"
      data-track-gtm="Call to Action|{{ current_url }}|View the work:{{ work.link }}"
    >
      View the work
      {{ svg('arrow-right') }}
    </a>
  </div>
{% endif %}
