{% set block = block ?? null %}

{% if block %}
  <section class="section" data-label="spec-groups">
    <div class="container">
      <h2 class="heading-4">
        Specs
      </h2>

      {% if block.spec_groups | length %}
        <div data-module="tabs">
          <div class="border-b border-gray-border mb-15 overflow-hidden">
            <ul class="flex -mx-15 overflow-x-auto -mb-20 pb-20">
              {% for spec_group in block.spec_groups %}
                <li class="px-15">
                  <button
                    class="tabs-trigger font-bold -mb-1 pb-15 relative text-blue-denim whitespace-no-wrap"
                    data-tabs-trigger
                    aria-controls="{{ spec_group.heading | replace({ ' ': '-' }) | lower }}"
                  >
                    {{ spec_group.heading }}
                  </button>
                </li>
              {% endfor %}
            </ul>
          </div>

          {% for spec_group in block.spec_groups %}
            <div class="tabs-target relative" data-tabs-target>
              <div id="{{ spec_group.heading | replace({ ' ': '-' }) | lower }}" class="absolute invisible -mt-100"></div>

              <div class="flex flex-wrap -mx-30">
                <div class="px-30 w-full lg:w-7/12">
                  {% if spec_group.specs | length %}

                    {% for spec in spec_group.specs %}
                      <div class="border-b border-gray-border">
                        <div class="flex flex-wrap -mb-5 -mx-15 py-15">
                          <div class="mb-5 px-15 text-gray-dark text-14 w-full lg:w-1/3">
                            {% if spec.tooltip %}
                              <div class="flex items-center">
                                {{ spec.heading }}

                                <button class="group ml-5 relative">
                                  {{ svg('info') }}
                                  <span class="tooltip absolute bg-white bottom-full hidden left-1/2 p-20 rounded shadow-sm text-black text-left text-14 translate-x-1/2 group-hover:block">
                                    {{ spec.tooltip }}
                                  </span>
                                </button>
                              </div>
                            {% else %}
                              {{ spec.heading }}
                            {% endif %}
                          </div>

                          <div class="mb-5 px-15 w-full lg:w-2/3">
                            {{ spec.text }}
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                  {% endif %}
                </div>

                <div class="mt-40 px-30 w-full lg:mt-0 lg:w-5/12">
                  {% if spec_group.samples | length %}
                    <div class="-mb-20 -mx-10 pt-20 sm:flex lg:flex-wrap">
                      {% for sample in spec_group.samples %}
                        <div class="max-w-230 mb-20 mx-auto px-10 w-full sm:max-w-none sm:mx-0 sm:w-1/3 md:w-1/4 lg:w-1/2">
                          {% include '_blocks/spec-groups/sample.twig' ignore missing %}
                        </div>
                      {% endfor %}
                    </div>
                  {% endif %}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}

      {% if block.specs_download %}
        <div class="mt-30">
          <a
            class="button"
            href="{{ block.specs_download.url }}"
            download
            data-track-gtm="Download|Specs|{{ block.specs_download.title }}"
          >
            {{ svg('report', { classes: 'inline-block mr-5' }) }}
            Download Specs
          </a>
        </div>
      {% endif %}

      {% if block.guidelines_download %}
        <div class="mt-20">
          <a
            class="button-outline-crimson"
            href="{{ block.guidelines_download.url }}"
            download
            data-track-gtm="Download|Creative Content Guidelines|{{ block.guidelines_download.title }}"
          >
            {{ svg('report', { classes: 'inline-block mr-5' }) }}
            Digital Creative Content Guidelines
          </a>
        </div>
      {% endif %}
    </div>
  </section>
{% endif %}
