<div class="border border-gray-border">
  {% set uid = random() %}

  {% if sample.type == 'audio' %}
    {% if sample.image.id %}
      <button class="block group relative" aria-controls="{{ uid }}">
        {{ macros.responsiveImage(sample.image.id, 345, 219) }}

        <span class="absolute inset-1/2 invisible h-100 opacity-0 transition-fast translate-1/2 w-100 group-hover:opacity-100 group-hover:visible">
          <span class="sr-only">
            Play Audio
          </span>
          <img
            class="mt-10"
            src="{{ fn('get_stylesheet_directory_uri') }}/assets/images/play.png"
            alt=""
          >
        </span>
      </button>
    {% endif %}

    {% include '_partials/audio/modal.twig' ignore missing with {
      audio: sample.audio,
      uid: uid,
    } only %}
  {% elseif sample.type == 'video' %}
    {% if sample.image.id %}
      <button class="block group relative" aria-controls="{{ uid }}" data-video-play>
        {{ macros.responsiveImage(sample.image.id, 345, 219) }}

        <span class="absolute inset-1/2 invisible h-100 opacity-0 transition-fast translate-1/2 w-100 group-hover:opacity-100 group-hover:visible">
          <span class="sr-only">
            Play Video
          </span>
          <img
            class="mt-10"
            src="{{ fn('get_stylesheet_directory_uri') }}/assets/images/play.png"
            alt=""
          >
        </span>
      </button>
    {% endif %}

    {% include '_partials/video/modal.twig' ignore missing with {
      video: sample.video,
      uid: uid,
    } only %}
  {% else %}
    {% if sample.image %}
      {{ macros.responsiveImage(sample.image.id, 345, 219) }}
    {% endif %}
  {% endif %}
</div>
