<div class="border border-gray-border">
  {% set image = TimberImage(sample.image) %}
  {% set uid = random() %}

  {% if sample.type == 'audio' %}
    {% if image.src %}
      <button class="block relative" aria-controls="{{ uid }}">
        <img src="{{ image.src | resize(345, 219, 'center') }}" alt="{{ image.alt }}" />

        <span class="absolute inset-1/2 h-80 translate-1/2 w-80">
          <span class="sr-only">
            Play Video
          </span>
          {{ svg('play') }}
        </span>
      </button>
    {% endif %}

    {% include '_partials/audio/modal.twig' ignore missing with {
      audio: sample.audio,
      uid: uid,
    } only %}
  {% elseif sample.type == 'video' %}
    {% if image.src %}
      <button class="block relative" aria-controls="{{ uid }}" data-video-play>
        <img src="{{ image.src | resize(345, 219, 'center') }}" alt="{{ image.alt }}" />

        <span class="absolute inset-1/2 h-80 translate-1/2 w-80">
          <span class="sr-only">
            Play Video
          </span>
          {{ svg('play') }}
        </span>
      </button>
    {% endif %}

    {% include '_partials/video/modal.twig' ignore missing with {
      video: sample.video,
      uid: uid,
    } only %}
  {% else %}
    {% if image.src %}
      <img src="{{ image.src | resize(345, 219, 'center') }}" alt="{{ image.alt }}" />
    {% endif %}
  {% endif %}
</div>
