{% set block = block ?? null %}

{% if block %}
  <section
    class="section relative text-white"
    data-module="responsive-background-image"
    data-label="hero-services"
  >
    {% if block.background_image.id %}
      {{ macros.responsiveImage(block.background_image.id, 1920, 700) }}
    {% endif %}

    <div class="absolute bg-black inset-0 opacity-90"></div>

    <div class="container">
      <div class="relative w-full lg:w-2/3">
        <div class="heading-6 mb-20">
          Services
        </div>

        {% if block.heading %}
          <h1 class="heading-2">
            {{ block.heading }}
          </h1>
        {% endif %}

        {% if block.text %}
          <div class="text text-16 lg:text-18">
            {{ block.text }}
          </div>
        {% endif %}

        {% if block.button_link and block.button_text %}
          <a
            class="button mt-25"
            href="{{ block.button_link }}"
            data-track-gtm="Call to Action|{{ current_url }}|{{ block.button_text }}:{{ block.button_link }}"
          >
            {{ block.button_text }}
          </a>
        {% endif %}
      </div>
    </div>
  </section>
{% endif %}
