{% set uid = random() %}

{% if work.type == 'audio' %}
  <div class="border border-gray-border">
    {% include '_partials/audio/index.twig' ignore missing with {
      audio: work.audio,
    } only %}
  </div>

  <div class="flex mt-20 -mx-5">
    {% set image = TimberImage(work.program.image) %}

    {% if image.src %}
      <div class="flex-shrink-0 px-5 w-1/4">
        <img src="{{ image.src | resize(150, 150, 'center') }}" alt="{{ image.alt }}" />
      </div>
    {% endif %}

    <div class="px-5">
      {% if work.text %}
        <p class="text text-14">
          {{ work.text }}
        </p>
      {% endif %}
    </div>
  </div>
{% elseif work.type == 'video' %}
  <div class="relative" aria-controls="{{ uid }}">
    {% set image = TimberImage(work.image) %}

    {% if image.src %}
      <img src="{{ image.src | resize(720, 405, 'center') }}" alt="{{ image.alt }}" />

      <button class="absolute inset-1/2 h-80 translate-1/2 w-80">
        <span class="sr-only">
          Open
        </span>
        {{ svg('play') }}
      </button>
    {% endif %}
  </div>

  {% if work.text %}
    <div class="mt-20">
      <p class="text text-14">
        {{ work.text }}
      </p>
    </div>
  {% endif %}

  {% include '_partials/video/modal.twig' ignore missing with {
    video: work.video,
    uid: uid,
  } only %}
{% else %}
  {% set image = TimberImage(work.image) %}

  {% if image.src %}
    <div aria-controls="{{ uid }}">
      <img src="{{ image.src | resize(540, 301, 'center') }}" alt="{{ image.alt }}" />
    </div>
  {% endif %}

  {% if work.text %}
    <div class="mt-20">
      <p class="text text-14">
        {{ work.text }}
      </p>
    </div>
  {% endif %}

  {% include '_partials/image/modal.twig' ignore missing with {
    images: work.images,
    uid: uid,
  } only %}
{% endif %}
