{% set uid = random() %}

{% if work.type == 'audio' %}
  <div class="md:border md:border-gray-border">
    {% include '_partials/audio/index.twig' ignore missing with {
      audio: work.audio,
    } only %}
  </div>

  <div class="flex mt-20 -mx-5">
    {% if work.program.image %}
      <div class="flex-shrink-0 px-5 w-1/4">
        {{ macros.responsiveImage(work.program.image, 150, 150) }}
      </div>
    {% endif %}

    <div class="px-5">
      {% if work.text %}
        <p class="text text-14">
          {{ work.text }}
        </p>
      {% endif %}
    </div>
  </div>
{% elseif work.type == 'video' %}
  <button class="block group relative" aria-controls="{{ uid }}">
    {% if work.image.id %}
      {{ macros.responsiveImage(work.image.id, 720, 405) }}

      <span class="absolute inset-1/2 invisible h-100 opacity-0 transition-fast translate-1/2 w-100 group-hover:opacity-100 group-hover:visible">
        <span class="sr-only">
          Open Video Modal
        </span>
        {{ svg('play', { classes: 'ml-10 mt-10' }) }}
      </span>
    {% endif %}
  </button>

  {% if work.text %}
    <div class="mt-20">
      <p class="text text-14">
        {{ work.text }}
      </p>
    </div>
  {% endif %}

  {% include '_partials/video/modal.twig' ignore missing with {
    video: work.video,
    uid: uid,
  } only %}
{% else %}
  {% if work.image.id %}
    <button class="block" aria-controls="{{ uid }}">
      {{ macros.responsiveImage(work.image.id, 720, 405) }}
    </button>
  {% endif %}

  {% if work.text %}
    <div class="mt-20">
      <p class="text text-14">
        {{ work.text }}
      </p>
    </div>
  {% endif %}

  {% include '_partials/image/modal.twig' ignore missing with {
    images: work.images,
    uid: uid,
  } only %}
{% endif %}
