{% set block = block ?? null %}

{% if block %}
  <section class="bg-blue section text-white" data-label="hero-single-report">
    <div class="container">
      <div class="heading-6 mb-10">
        Insights
      </div>

      <h1 class="heading-2 mb-15">
        {{ post.title }}
      </h1>

      <div class="flex flex-wrap leading-none -mx-10 text-11">
        <div class="border-r border-white px-10">
          {{ post.post_type | title }}
        </div>

        <div class="px-10">
          {{ post.post_date | date('F Y') }}
        </div>
      </div>

      <div class="flex flex-wrap items-center -mx-30">
        {% if block.image.id %}
          <div class="mt-40 px-30 relative w-full lg:mt-50 lg:w-1/2">
            {{ macros.responsiveImage(block.image.id, 1080, 607) }}

            {% include '_partials/credit.twig' ignore missing with {
              credit: block.image.description,
            } only %}
          </div>
        {% endif %}

        <div class="mt-40 px-30 w-full lg:mt-50 lg:w-1/2">
          {% if block.text %}
            <div class="text">
              {{ block.text }}
            </div>
          {% endif %}

          {% if block.button_link and block.button_text %}
            <a
              class="button mt-25"
              href="{{ block.button_link }}"
              data-track-gtm="Call to Action|{{ current_url }}|{{ button_text }}:{{ button_link }}"
            >
              {{  block.button_text }}
            </a>
          {% elseif fields.download.url %}
            <a
              class="button mt-25"
              href="{{ fields.download.url }}"
              download
              data-track-gtm="Download|Report|{{ block.specs_download.title }}"
            >
              {{ svg('report', { classes: 'inline-block mr-5' }) }}
              Download the Report ({{ fields.download.subtype | upper }})
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
{% endif %}
