{% extends '_layouts/base.twig' %}

{% block content %}
  <div data-label="home">
    <div class="container">
      <ul>
        {% for post in posts %}
          <li>
            <a href="{{ post.link }}">
              <img src="{{ post.thumbnail.src|resize(400, 300) }}" alt="{{ post.title }}">
            </a>
            <h3>
              <a href="{{ post.link }}">
                {{ post.title }}
              </a>
            </h3>
            <p>
              {{ post.get_preview(10, false, false) }}
            </p>

            {% set categories = post.terms('category') | slice(0, 2) %}

            {% if categories %}
              <ul>
                {% for category in categories %}
                  <li>
                    <a href="{{ category.link }}">
                      {{ category.title }}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endfor %}
      </ul>

      {% include "_partials/pagination.twig" with {
        posts: posts,
      } %}

    </div>
  {% endblock %}
