{%- import '_macros/index.twig' as macros -%}

{% set video = video ? fn('npm_get_oembed', video) : null %}
{% set image = image is iterable ? image.id : image %}

{% if video %}
  <div data-module="video" data-video-title="{{ video.title }}">
    {% if video.html %}
      <div class="video">
        {{ video.html }}

        {% if image.src %}
          <button class="overlay absolute group h-full inset-1/2 translate-1/2 w-full z-10" data-video-play>
            <img src="{{ image.src | resize(720, 405, 'center') }}" alt="{{ image.alt }}" />

            <span class="absolute inset-1/2 h-80 translate-1/2 w-80">
              <span class="sr-only">
                Play Video
              </span>
              {{ svg('play', { classes: 'hidden group-hover:block' } ) }}
            </span>
          </button>
        {% endif %}
      </div>
    {% endif %}
  </div>
{% endif %}
