<div class="lg:bg-white lg:p-20 lg:shadow-sm">
  <div class="flex flex-wrap items-center lg:flex-no-wrap lg:-mx-20">
    <div class="mb-30 w-full lg:mb-0 lg:px-20 lg:w-5/12">
      {% set image = TimberImage(card.image) %}

      {% if image %}
        <img
          src="{{ image.src | resize(1440, 900) }}"
          srcset="{{ image.srcset }}"
          alt="{{ image.alt }}"
        />
      {% endif %}
    </div>
    <div class="text-white w-full lg:px-20 lg:text-black lg:w-7/12">
      {% if card.heading %}
        <h3 class="heading-4 mb-20">
          {{ card.heading }}
        </h3>
      {% endif %}

      {% if card.text %}
        <div class="text">
          {{ card.text }}
        </div>
      {% endif %}

      {% if card.button_link and card.button_text %}
        <a class="link mt-20 text-white lg:text-blue-link" href="{{ card.button_link }}">
          {{ card.button_text }}
          {{ svg('link') }}
        </a>
      {% endif %}
    </div>
  </div>
</div>
