{%- import '_macros/index.twig' as macros -%}

{% set block = block ?? null %}

{% if block %}
  <div class="pt-30 bg-blue lg:pt-0">
    <div class="container">
      <div class="flex flex-wrap -mx-30">
        <div class="px-30 text-white w-full lg:py-50 lg:w-7/12">
          <div class="heading-6 mb-20">
            Work
          </div>

          {% if block.heading %}
            <h1 class="heading-3">
              {{ block.heading }}
            </h1>
          {% endif %}

          {% if block.text %}
            <div class="text">
              {{ block.text }}
            </div>
          {% endif %}

          {% if block.button_link and block.button_text %}
            <a
              class="button mt-25 lg:mt-30"
              href="{{ block.button_link }}"
              data-track-gtm="Call to Action|{{ current_url }}|{{ block.button_text }}:{{ block.button_link }}"
            >
              {{ block.button_text }}
            </a>
          {% endif %}
        </div>

        {% if block.image.id %}
          <div class="mt-50 px-30 w-full lg:mt-0 lg:w-5/12">
            <div class="aspect-ratio-16/9 pin-r lg:h-full lg:pb-0" data-module="responsive-background-image">
              {{ macros.responsiveImage(block.image.id, 1080, 1080) }}
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}
