{% set block = block ?? null %}

{% if block %}
  {% set report = Post(block.featured_report) %}

  <section class="section bg-blue text-white" data-label="featured-report">
    <div class="container">
      <div class="flex flex-wrap items-center -mx-30 lg:flex-no-wrap lg:flex-row-reverse">
        <div class="px-30 w-full lg:w-1/2">
          <h2 class="heading-3">
            {{ report.title }}
          </h2>

          {% if report.text %}
            <div class="text text-16 lg:text-18">
              {{ report.text }}
            </div>
          {% endif %}

          {% set button_link =  report.button_link | length ? report.button_link : report.link %}
          {% set button_text =  report.button_text | length ? report.button_text : 'Read more' %}

          <a
            class="button-outline-white mt-25"
            href="{{ button_link }}"
            {{ fn('get_image_target', button_link) }}
            data-track-gtm="Call to Action|{{ current_url }}|{{ button_text }}:{{ button_link }}"
          >
            {{ button_text }}
          </a>
        </div>

        <div class="mt-40 px-30 w-full lg:mt-0 lg:w-1/2">
          {% if report.type == 'video' %}
            {% set video = report.get_field('video') ?? null %}

            {% include '_partials/video/index.twig' ignore missing with {
              video: video,
              image: report.image,
            } only %}
          {% else %}
            {% if report.featured_image %}
              {{ macros.responsiveImage(report.featured_image, 1080, 810, 'lg:shadow' ) }}
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  </section>
{% endif %}
