{% set block = block ?? null %}

{% if block %}
  {% set report = Post(block.featured_report) %}

  <section class="section bg-blue pb-0 text-white lg:pb-100" data-label="featured-report">
    <div class="container">
      <div class="flex flex-wrap items-center -mx-30 lg:flex-no-wrap lg:flex-row-reverse">
        <div class="pb-50 px-30 w-full md:pb-75 lg:pb-0 lg:w-1/2">
          <h2 class="heading-3">
            {{ report.title }}
          </h2>

          {% if report.text %}
            <div class="text text-16 lg:text-18">
              {{ report.text }}
            </div>
          {% endif %}

          <a class="button-outline-white mt-25 lg:mt-30" href="{{ report.button_link ?? report.link }}">
            {{ report.button_text ?? 'Read More' }}
          </a>
        </div>
        <div class="px-30 w-full lg:w-1/2">
          {% set image = TimberImage(report.featured_image) %}

          {% if image.src %}
            <div class="-mx-20 lg:mx-0">
              <img src="{{ image.src | resize(1440, 1080, 'center') }}" alt="{{ image.alt }}" />
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
{% endif %}
