{% set block = block ?? null %}

{% if block %}
  <section class="bg-gradient section lg:bg-none lg:bg-transparent lg:-mt-50 lg:pt-150 lg:relative" data-label="{{ block.type }}">
    <div class="absolute h-full hidden left-0 top-0 w-1/3 lg:bg-gradient lg:block"></div>
    <div class="relative lg:flex lg:items-center lg:-mx-30">
      <div class="mb-50 px-20 md:md-75 lg:mb-0 lg:px-30 lg:w-1/4">
        <div class="text-white lg:pl-60">
          {% if block.heading %}
            <h2 class="heading-4">
              {{ block.heading }}
            </h2>
          {% endif %}

          {% if block.text %}
            <div class="text">
              {{ block.text }}
            </div>
          {% endif %}

          <a class="link mt-20 text-white md:mt-25 lg:mt-30" href="#">
            Podcast sponsorship
            {{ svg('link', {attr: {class: 'fill-current'}}) }}
          </a>
        </div>
      </div>
      <div class="lg:px-30 lg:w-3/4">
        <div class="overflow-x-hidden px-40 lg:pl-0 lg:pr-100 relative">
          <div data-module="carousel" data-carousel-loop="false">
            <div class="flex relative -mx-10" data-carousel-track>
              {% for program in Post(block.programs) %}
                <div class="flex-0 px-10 w-full md:w-1/2 lg:w-1/3" data-carousel-item>
                  <div class="bg-white h-full relative shadow-sm">
                    {% set image = TimberImage(program.image) %}

                    {% if image %}
                      <img
                        src="{{ image.src | resize(640, 640) }}"
                        srcset="{{ image.srcset }}"
                        alt="{{ image.alt }}"
                      />
                    {% endif %}

                    <div class="p-20">
                      {% if program.heading %}
                        <h3 class="heading-4 mb-10">
                          {{ program.heading }}
                        </h3>
                      {% endif %}

                      {% if program.short_text %}
                        <div class="text text-14">
                          <p>
                            {{ program.short_text }}
                          </p>
                        </div>
                      {% endif %}

                      <button
                        class="font-bold inline-block mt-20 text-14 text-blue-link"
                        data-module="toggle"
                        data-toggle-match="toggle-match-{{ program.id }}"
                        aria-controls="toggle-{{ program.id }}"
                      >
                        See details
                      </button>
                    </div>
                    <div
                      id="toggle-{{ program.id }}"
                      class="absolute bg-white inset-x-0 min-h-full px-30 py-40 shadow-sm top-0 transition"
                      aria-hidden="true"
                    >
                      <button id="toggle-match-{{ program.id }}" class="absolute h-44 right-0 top-0 w-44">
                        {{ svg('close', {attr: {class: 'absolute fill-current inset-1/2 translate-1/2'}}) }}
                        <span class="screen-reader-only">
                          Close
                        </span>
                      </button>
                      <h3 class="heading-4 mb-20">
                        {{ program.title }}
                      </h3>

                      {% if program.host %}
                        <div class="mb-20">
                          <span class="block font-normal mb-5 text-11 text-gray-a11y">
                            Hosted by
                          </span>
                          <span class="heading-5">
                            {{ program.host }}
                          </span>
                        </div>
                      {% endif %}

                      {% if program.text %}
                        <div class="mb-20 text text-14">
                          <p>
                            {{ program.text }}
                          </p>
                        </div>
                      {% endif %}

                      {% if program.platforms | length %}
                        <div class="mb-20">
                          <span class="block font-normal mb-5 text-11 text-gray-a11y">
                            Runs on
                          </span>
                          <span class="font-bold">
                            {% for platform in program.platforms %}
                              {{ program.post_title }}{{ not loop.last ? ', ' }}
                            {% endfor %}
                          </span>
                        </div>
                      {% endif %}

                      {% if program.host %}
                        <div class="mb-20">
                          <span class="block font-normal mb-5 text-11 text-gray-a11y">
                            Topics
                          </span>
                          {{ program.terms('topics') | join(', ') }}
                        </div>
                      {% endif %}

                      {% if program.button_link and program.button_text %}
                        <a class="button w-full" href="{{ program.button_link }}">
                          {{ program.button_text }}
                        </a>
                      {% endif %}
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
            <div class="flex justify-center mt-30 -mx-10 lg:justify-end lg:-mx-5">
              <div class="px-10 lg:px-5">
                <button class="h-44 text-white w-44 lg:text-purple" data-carousel-prev>
                  {{ svg('arrow-left', {attr: {class: 'fill-current'}}) }}
                  <span class="screen-reader-only">
                    Previous
                  </span>
                </button>
              </div>
              <div class="px-10 lg:px-5">
                <button class="h-44 text-white w-44 lg:text-purple" data-carousel-next>
                  {{ svg('arrow-right', {attr: {class: 'fill-current'}}) }}
                  <span class="screen-reader-only">
                    Next
                  </span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endif %}
