{% set block = block ?? null %}

{% if block %}
  <section class="lg:-mt-50 lg:pt-50 lg:relative" data-label="programs">
    <div class="bg-gradient pt-50 md:pt-75 lg:bg-none lg:bg-gray lg:pt-0">
      <div class="absolute bg-gradient hidden inset-y-0 left-0 top-0 w-1/3 lg:block"></div>

      <div class="flex flex-wrap items-center -mx-30 relative">
        <div class="px-50 w-full lg:px-30 lg:w-1/4">
          <div class="text-white lg:pl-60">
            {% if block.heading %}
              <h2 class="heading-4">
                {{ block.heading }}
              </h2>
            {% endif %}

            {% if block.text %}
              <div class="text">
                {{ block.text }}
              </div>
            {% endif %}

            {% if block.button_link and block.button_text %}
              <a
                class="arrow mt-20 text-white"
                href="{{ block.button_link }}"
                data-track-gtm="Call to Action|{{ current_url }}|{{ block.button_text }}:{{ block.button_link }}"
              >
                {{ block.button_text }}
                {{ svg('arrow-right') }}
              </a>
            {% endif %}
          </div>
        </div>

        {% if block.programs | length %}
          <div class="px-30 w-full lg:w-3/4">
            <div class="overflow-hidden px-40 relative lg:pl-20 lg:pr-100">
              <div data-module="carousel" data-carousel-loop="false">
                <div class="carousel-track flex relative -mx-10 py-50 md:py-75 lg:py-100" data-carousel-track>
                  {% for program in Post(block.programs) %}
                    <div class="carousel-item flex-0 px-10 w-full md:w-1/2 lg:w-1/3" data-carousel-item>
                      {% include '_blocks/programs/program.twig' ignore missing %}
                    </div>
                  {% endfor %}

                  <div class="carousel-item flex-0 px-10 w-full md:w-1/2 lg:w-1/3" data-carousel-item>
                    <div class="bg-white flex flex-col h-full justify-center p-20">
                      <a
                        class="button"
                        href="/programs/"
                        data-track-gtm="Call to Action|{{ current_url }}|View All Products:/programs/"
                      >
                        View All Programs
                      </a>
                    </div>
                  </div>
                </div>

                <div class="flex justify-center opacity-50 mb-50 -mt-20 -mx-5 relative z-10 md:mb-75 md:-mt-45  lg:justify-end lg:mb-70 lg:-mt-70 lg:opacity-100">
                  <div class="px-5">
                    {% include '_partials/carousel/button-prev.twig' ignore missing with {
                      classes: 'text-white transition-fast lg:text-blue hover:text-blue-light',
                    } only %}
                  </div>

                  <div class="px-5">
                    {% include '_partials/carousel/button-next.twig' ignore missing with {
                      classes: 'text-white transition-fast lg:text-blue hover:text-blue-light',
                    } only %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </section>
{% endif %}
