{% set block = block ?? null %}

{% if block %}
  <section class="lg:-mt-50 lg:pt-50 lg:relative" data-label="programs">
    <div class="section bg-gradient lg:bg-none lg:bg-gray">
      <div class="absolute bg-gradient hidden inset-y-0 left-0 top-0 w-1/3 lg:block"></div>

      <div class="flex flex-wrap items-center -mb-50 -mx-30 relative">
        <div class="mb-50 px-50 w-full lg:px-30 lg:w-1/4">
          <div class="text-white lg:pl-60">
            {% if block.heading %}
              <h2 class="heading-4">
                {{ block.heading }}
              </h2>
            {% endif %}

            {% if block.text %}
              <div class="text">
                {{ block.text }}
              </div>
            {% endif %}

            {% if block.button_link and block.button_text %}
              <a class="arrow text-white" href="{{ block.button_link }}">
                {{ block.button_text }}
                {{ svg('arrow') }}
              </a>
            {% endif %}
          </div>
        </div>

        <div class="mb-50 px-30 w-full lg:w-3/4">
          <div class="overflow-x-hidden px-40 relative lg:pl-20 lg:pr-100">
            <div data-module="carousel" data-carousel-loop="false">
              <div class="flex relative -mx-10 py-30" data-carousel-track>
                {% for program in block.programs %}
                  <div class="flex-0 px-10 w-full md:w-1/2 lg:w-1/3" data-carousel-item>
                    {% include '_blocks/programs/program.twig' ignore missing %}
                  </div>
                {% endfor %}

                <div class="flex-0 px-10 w-full md:w-1/2 lg:w-1/3" data-carousel-item>
                  <div class="bg-white flex flex-col h-full justify-center p-20">
                    <a class="button" href="/programs/">
                      View All Programs
                    </a>
                  </div>
                </div>
              </div>

              <div class="flex justify-center opacity-50 -mx-5 lg:justify-end lg:opacity-100">
                <div class="px-5">
                  {% include '_partials/carousel/button-prev.twig' ignore missing with {
                    classes: 'text-white transition-fast lg:text-blue lg:hover:text-blue-light',
                  } only %}
                </div>

                <div class="px-5">
                  {% include '_partials/carousel/button-next.twig' ignore missing with {
                    classes: 'text-white transition-fast lg:text-blue lg:hover:text-blue-light',
                  } only %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endif %}
