{% set uid = random() %}

<div class="program bg-white relative shadow-sm">
  {% set image = TimberImage(program.image) %}

  {% if image.src %}
    <img src="{{ image.src | resize(600, 600) }}" alt="{{ image.alt }}" />
  {% endif %}

  <div class="p-20">
    {% if program.heading %}
      <h3 class="heading-4 mb-15">
        {{ program.heading }}
      </h3>
    {% endif %}

    {% if program.short_text %}
      <div class="text text-14">
        {{ program.short_text }}
      </div>
    {% endif %}

    <button
      class="font-bold inline-block mt-20 text-14 text-blue-link"
      data-module="toggle"
      data-toggle-partner="{{ uid }}{{ loop.index }}0"
      aria-controls="{{ uid }}{{ loop.index }}"
    >
      See Details
    </button>
  </div>

  <div
    id="{{ uid }}{{ loop.index }}"
    class="absolute bg-white inset-0 px-30 py-40 shadow-sm"
    aria-hidden="true"
  >
    <h3 class="heading-4 mb-20">
      {{ program.title }}
    </h3>

    {% if program.host %}
      <h4 class="mb-5 text-11 text-gray-a11y">
        Hosted by
      </h4>
      <p class="heading-7 mb-20">
        {{ program.host }}
      </p>
    {% endif %}

    {% if program.text %}
      <div class="text mb-20 text-14">
        {{ program.text }}
      </div>
    {% endif %}

    {% if program.platforms | length %}
      <h4 class="mb-5 text-11 text-gray-a11y">
        Runs on
      </h4>
      <p class="font-bold mb-20">
        {% for platform in Post(program.platforms) %}
          {{ loop.last ? platform.title : platform.title ~ ', ' }}
        {% endfor %}
      </p>
    {% endif %}

    {% if program.topics | length %}
      <h4 class="mb-5 text-11 text-gray-a11y">
        Topics
      </h4>
      <p class="mb-20">
        {{ program.topics | join(', ') }}
      </p>
    {% endif %}

    {% if program.button_link and program.button_text %}
      <a class="button w-full" href="{{ program.button_link }}">
        {{ program.button_text }}
      </a>
    {% endif %}

     <button
      id="{{ uid }}{{ loop.index }}0"
      class="absolute h-44 mr-5 mt-5 right-0 top-0 w-44"
      aria-controls="{{ uid }}"
    >
      <span class="screen-reader-only">
        Close
      </span>
      {{ svg('close', { classes: 'absolute inset-1/2 pointer-events-none translate-1/2' }) }}
    </button>
  </div>
</div>
