{% set uid = random() %}

<div class="bg-white h-full relative z-10">
  <button
    class="block flex flex-col h-full text-left"
    data-module="toggle"
    data-toggle-partners="{{ uid }}{{ loop.index }}0"
    aria-controls="{{ uid }}{{ loop.index }}"
  >
    {% set image = TimberImage(program.image) %}

    {% if image.src %}
      <div>
        <img src="{{ image.src | resize(450, 450, 'center') }}" alt="{{ image.alt }}" />
      </div>
    {% endif %}

    <div class="flex flex-col flex-grow p-20">
      <div class="flex-grow">
        {% if program.heading %}
          <h3 class="heading-4 font-normal mb-0">
            {{ program.heading }}
          </h3>
        {% endif %}
      </div>

      <div>
        <span class="font-bold inline-block mt-20 text-14 text-blue-denim">
          See Details
          <span class="sr-only">
            for {{ program.heading }}
          </span>
        </span>
      </div>
    </div>
  </button>

  <div
    id="{{ uid }}{{ loop.index }}"
    class="absolute bg-white inset-x-0 min-h-full shadow-sm top-0"
    aria-hidden="true"
  >
    <div class="absolute flex flex-col inset-0 px-30 py-40">
      <div class="flex-1">
        <div class="mb-5 text-11 text-gray-dark">
          {{ program.subheading | length ? program.subheading : 'NPR Podcast' }}
        </div>

        <h3 class="heading-4 mb-20">
          {{ program.title }}
        </h3>

        {% if program.host %}
          <div class="mb-5 text-11 text-gray-dark">
            Hosted by
          </div>

          <p class="text text-14 mb-20">
            {{ program.host }}
          </p>
        {% endif %}

        {% if program.text %}
          <div class="mb-5 text-11 text-gray-dark">
            Description
          </div>

          <div class="text mb-20 text-14">
            {{ program.text }}
          </div>
        {% endif %}

        {% set topics = Post(program).get_terms('topic') %}

        {% if topics | length %}
          <div class="mb-5 text-11 text-gray-dark">
            Topics
          </div>

          <p class="text mb-20 text-14">
            {{ topics | join(', ') }}
          </p>
        {% endif %}
      </div>

      {% if program.button_link and program.button_text %}
        <div>
          <a
            class="arrow w-full"
            href="{{ program.button_link }}"
            data-track-gtm="Call to Action|{{ current_url }}|{{ program.button_text }}:{{ program.button_link }}"
          >
            {{ program.button_text }}
            {{ svg('arrow-right') }}
          </a>
        </div>
      {% endif %}
    </div>

    <button
      class="absolute h-44 mr-5 mt-5 right-0 top-0 w-44"
      data-toggle-partner="{{ uid }}{{ loop.index }}0"
      aria-controls="{{ uid }}{{ loop.index }}"
    >
      <span class="sr-only">
        Close {{ program.heading }} Details
      </span>
      {{ svg('close', { classes: 'absolute inset-1/2 pointer-events-none translate-1/2' }) }}
    </button>
  </div>
</div>
