{% set uid = random() %}

<div class="bg-white h-full relative shadow-sm">
  {% set image = TimberImage(program.image) %}

  {% if image.src %}
    <img src="{{ image.src | resize(450, 450, 'center') }}" alt="{{ image.alt }}" />
  {% endif %}

  <div class="p-20">
    {% if program.heading %}
      <h3 class="heading-4 mb-15">
        {{ program.heading }}
      </h3>
    {% endif %}

    {% if program.text %}
      <div class="text text-14">
        {{ program.text | length > 120 ? program.text | excerpt(120) ~ '...' : program.text }}
      </div>
    {% endif %}

    <button
      class="font-bold inline-block mt-20 text-14 text-blue-link"
      data-module="toggle"
      data-toggle-partner="{{ uid }}{{ loop.index }}0"
      aria-controls="{{ uid }}{{ loop.index }}"
    >
      See Details
    </button>
  </div>

  <div
    id="{{ uid }}{{ loop.index }}"
    class="absolute bg-white inset-x-0 min-h-full px-30 py-40 shadow-sm top-0"
    aria-hidden="true"
  >
    <h3 class="heading-4 mb-20">
      {{ program.title }}
    </h3>

    {% if program.host %}
      <div class="mb-5 text-11 text-gray-a11y">
        Hosted by
      </div>

      <p class="heading-7 mb-20">
        {{ program.host }}
      </p>
    {% endif %}

    {% if program.text %}
      <div class="text mb-20 text-14">
        {{ program.text }}
      </div>
    {% endif %}

    {% if program.platforms | length %}
      <div class="mb-5 text-11 text-gray-a11y">
        Available on
      </div>

      <p class="font-bold mb-20 text-14">
        {% for platform in Term(program.platforms) %}
          {{ loop.last ? platform.name : platform.name ~ ', ' }}
        {% endfor %}
      </p>
    {% endif %}

    {% set topics = Post(program).get_terms('topic') %}

    {% if topics | length %}
      <div class="mb-5 text-11 text-gray-a11y">
        Topics
      </div>

      <p class="mb-20 text-14">
        {{ topics | join(', ') }}
      </p>
    {% endif %}

    {% if program.button_link and program.button_text %}
      <a class="button w-full" href="{{ program.button_link }}">
        {{ program.button_text }}
      </a>
    {% endif %}

     <button
      id="{{ uid }}{{ loop.index }}0"
      class="absolute h-44 mr-5 mt-5 right-0 top-0 w-44"
      aria-controls="{{ uid }}"
    >
      <span class="sr-only">
        Close
      </span>
      {{ svg('close', { classes: 'absolute inset-1/2 pointer-events-none translate-1/2' }) }}
    </button>
  </div>
</div>
