{% set block = block ?? null %}

{% if block %}
  <section class="bg-blue text-white lg:pb-50" data-label="hero-front-page">
    <div class="container">
      <div class="flex flex-wrap items-center -mx-30">
        <div class="pt-20 px-30 w-full lg:w-1/2">
          {% if block.heading %}
            <h1 class="heading-1">
              {{ block.heading }}
            </h1>
          {% endif %}

          {% if block.text %}
            <div class="text text-16 lg:text-18">
              {{ block.text }}
            </div>
          {% endif %}

          {% if block.button_link and block.button_text %}
            <a
              class="button mt-25 lg:mt-30"
              href="{{ block.button_link }}"
              data-track-gtm="Call to Action|{{ current_url }}|{{ block.button_text }}:{{ block.button_link }}"
            >
              {{ block.button_text }}
            </a>
          {% endif %}
        </div>

        <div class="mt-40 px-30 w-full lg:mt-0 lg:w-1/2">
          <div class="pin-r">
            {% if block.images | length > 1 %}
              <div data-module="slick" data-slick='{ "arrows": false, "autoplay": true, "fade": true }'>
                {% for image in block.images %}
                  <div class="relative">
                    {{ macros.responsiveImage(image.id, 1440, 1008) }}

                    {% include '_partials/credit.twig' ignore missing with {
                      credit: image.description,
                    } only %}
                  </div>
                {% endfor %}
              </div>
            {% else %}
              {% if block.images[0].id %}
                <div class="relative">
                  {{ macros.responsiveImage(block.images[0].id, 1440, 1008) }}

                  {% include '_partials/credit.twig' ignore missing with {
                    credit: block.images[0].description,
                  } only %}
                </div>
              {% endif %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </section>
{% endif %}
