{% set block = block ?? null %}

{% if block %}
  <section class="section bg-blue pb-0 text-white lg:pb-150" data-label="hero-front-page">
    <div class="container">
      <div class="flex flex-wrap items-center -mb-50 -mx-30">
        <div class="mb-50 px-30 relative w-full z-10 lg:w-1/2">
          {% if block.heading %}
            <h1 class="heading-1">
              {{ block.heading }}
            </h1>
          {% endif %}

          {% if block.text %}
            <div class="text text-16 md:text-20 lg:text-24">
              {{ block.text }}
            </div>
          {% endif %}

          {% if block.button_link and block.button_text %}
            <a class="button mt-25 lg:mt-30" href="{{ block.button_link }}">
              {{ block.button_text }}
            </a>
          {% endif %}
        </div>

        {% if block.images | length %}
          <div class="mb-50 px-30 w-full lg:w-1/2">
            <div class="pin-r -mx-20 lg:mx-0 lg:w-screen-7/12">
              {% if block.images | length > 1 %}
                <div
                  class="overflow-x-hidden"
                  data-module="carousel"
                  data-carousel-autoplay="true"
                >
                  <div class="carousel-track flex relative" data-carousel-track>
                    {% for image in block.images %}
                      <div class="flex-0 w-full" data-carousel-item>
                        {% set image = TimberImage(image) %}

                        {% if image.src %}
                          <img src="{{ image.src | resize(1080, 607, 'center') }}" alt="{{ image.alt }}" />
                        {% endif %}
                      </div>
                    {% endfor %}
                  </div>
                </div>
              {% else %}
                {% set image = TimberImage(block.images[0]) %}

                {% if image.src %}
                  <img src="{{ image.src | resize(1080, 607, 'center') }}" alt="{{ image.alt }}" />
                {% endif %}
              </div>
            {% endif %}
          </div>
        {% endif %}
      </div>
  </section>
{% endif %}
