{% set block = block ?? null %}

{% if block %}
  <section class="section bg-blue pb-0 lg:pb-150" data-label="hero-front-page">
    <div class="container">
      <div class="flex flex-wrap items-center">
        <div class="w-full lg:w-1/2">
          <div class="pb-50 text-white md:pb-75 lg:pb-0 lg:relative lg:z-10">
            {% if block.heading %}
              <h1 class="heading-1">
                {{ block.heading }}
              </h1>
            {% endif %}

            {% if block.text %}
              <div class="text text-16 md:text-20 lg:text-24">
                {{ block.text }}
              </div>
            {% endif %}

            {% if block.button_link and block.button_text %}
              <a class="button mt-25 lg:mt-30" href="{{ block.button_link }}">
                {{ block.button_text }}
              </a>
            {% endif %}
          </div>
        </div>

        <div class="w-full lg:clearfix lg:w-1/2">
          {% if block.images | length %}
            <div class="pin-r max-w-none -mx-20 w-screen-7/12">
              <div
                class="relative overflow-x-hidden"
                data-module="carousel"
                data-carousel-autoplay="true"
              >
                <div class="carousel-track flex relative" data-carousel-track>
                  {% for image in block.images %}
                    <div class="flex-0 w-full" data-carousel-item>
                      {% set image = TimberImage(image) %}

                      {% if image.src %}
                        <img src="{{ image.src | resize(1440, 810) }}" alt="{{ image.alt }}" />
                      {% endif %}
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
  </section>
{% endif %}
