{% set image = image ? TimberImage(image) : null %}
{% set subheading = subheading ?? null %}
{% set heading = heading ?? null %}
{% set text = text ?? null %}
{% set button_link = button_link ?? null %}
{% set button_text = button_text ?? null %}

<div class="bg-blue">
  <div class="container">
    <div class="flex flex-wrap items-center -mx-30">
      <div class="px-30 w-full lg:w-7/12">
        <div class="section text-white lg:py-0">
          <div class="heading-6 mb-20">
            Work
          </div>

          {% if heading %}
            <h1 class="heading-3">
              {{ heading }}
            </h1>
          {% endif %}

          {% if text %}
            <div class="text">
              {{ text }}
            </div>
          {% endif %}

          {% if button_link and button_text %}
            <a class="button mt-25 lg:mt-30" href="{{ button_link }}">
              {{ button_text }}
            </a>
          {% endif %}
        </div>
      </div>

      <div class="px-30 w-full lg:w-5/12">
        {% if image.src %}
          <img
            class="pin-r -mx-20 max:mx-0"
            src="{{ image.src | resize(1440, 1440, 'center') }}"
            alt="{{ image.alt }}"
          />
        {% endif %}
      </div>
    </div>
  </div>
</div>
