<div class="px-30 py-50 text-center text-white w-full md:py-75 lg:py-100 lg:text-left lg:w-1/2">
  {% if call_to_action.heading %}
    <h2 class="heading-2">
      {{ call_to_action.heading }}
    </h2>
  {% endif %}

  {% if call_to_action.text %}
    <div class="text">
      {{ call_to_action.text }}
    </div>
  {% endif %}

  {% if call_to_action.button_link and call_to_action.button_text %}
    {% if call_to_action.color == 'white' %}
      <a class="button mt-25 lg:mt-30" href="{{ call_to_action.button_link }}">
        {{ call_to_action.button_text }}
      </a>
    {% else %}
      <a class="button-outline mt-25 lg:mt-30" href="{{ call_to_action.button_link }}">
        {{ call_to_action.button_text }}
      </a>
    {% endif %}
  {% endif %}
</div>
