{% if call_to_action.heading %}
  <h2 class="heading-2">
    {{ call_to_action.heading }}
  </h2>
{% endif %}

{% if call_to_action.text %}
  <div class="text">
    {{ call_to_action.text }}
  </div>
{% endif %}

{% if call_to_action.button_clone_link and call_to_action.button_clone_text %}
  {% if call_to_action.color_select == 'white' %}
    <a class="button mt-25 lg:mt-30" href="{{ call_to_action.button_clone_link }}">
      {{ call_to_action.button_clone_text }}
    </a>
  {% elseif call_to_action.image %}
    <a class="button-white mt-25 lg:mt-30" href="{{ call_to_action.button_clone_link }}">
      {{ call_to_action.button_clone_text }}
    </a>
  {% else %}
    <a class="button-outline mt-25 lg:mt-30" href="{{ call_to_action.button_clone_link }}">
      {{ call_to_action.button_clone_text }}
    </a>
  {% endif %}
{% endif %}
