{% if heading %}
  <h2 class="heading-2">
    {{ heading }}
  </h2>
{% endif %}

{% if text %}
  <div class="text">
    {{ text }}
  </div>
{% endif %}

{% if button_link and button_text %}
  {% if color_select == 'white' or color_select == 'gray' %}
    <a class="button mt-25 lg:mt-30" href="{{ button_link }}">
      {{ button_text }}
    </a>
  {% elseif image %}
    <a class="button-white mt-25 lg:mt-30" href="{{ button_link }}">
      {{ button_text }}
    </a>
  {% else %}
    <a class="button-outline mt-25 lg:mt-30" href="{{ button_link }}">
      {{ button_text }}
    </a>
  {% endif %}
{% endif %}
