{% set call_to_action = {
  image: call_to_action.image ? TimberImage(call_to_action.image) : null,
  heading: call_to_action.heading ?? null,
  text: call_to_action.text ?? null,
  button_link: call_to_action.button_link ?? null,
  button_text: call_to_action.button_text ?? null,
} %}

<section class="bg-blue lg:pt-50" data-label="call-to-action">
  <div class="container">
    <div class="{{ not call_to_action.image ? 'justify-center ' }} flex flex-wrap items-end -mx-30">
      {% if call_to_action.image %}
        <div class="px-30 hidden w-full lg:block lg:w-5/12">
          <img
            src="{{ call_to_action.image.src | resize(1440, 1440) }}"
            srcset="{{ call_to_action.image.srcset }}"
            alt="{{ call_to_action.image.alt }}"
          />
        </div>
      {% endif %}

      <div class="{{ call_to_action.image ? 'lg:text-left lg:w-1/2 ' : 'lg:w-2/3 ' }}px-30 py-50 text-center text-white w-full md:py-75 lg:py-100">
        {% if call_to_action.heading %}
          <h2 class="heading-2">
            {{ call_to_action.heading }}
          </h2>
        {% endif %}

        {% if call_to_action.text %}
          <div class="text">
            {{ call_to_action.text }}
          </div>
        {% endif %}

        {% if call_to_action.button_link and call_to_action.button_text %}
          <a class="{{ call_to_action.image ? 'button-white ' : 'button-outline ' }}mt-25 lg:mt-30" href="{{ call_to_action.button_link }}">
            {{ call_to_action.button_text }}
          </a>
        {% endif %}
      </div>
    </div>
  </div>
</section>
